
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-cirurgico.jpg)no-repeat center center;
		background-size: cover;
		height: 465px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;
	}
	
/* --- boxes --- */
	#boxes {
		margin-top: -40px;
	}
	#boxes .customer-boxes{
		max-width: 1150px;
	}
	#boxes .slide{
		margin-left: 5px!important;
		margin-right: 5px!important;
	}

	#boxes .slide .imagem{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 280px;
		height: 270px;
		margin-bottom: 12px;
	}
	#boxes .slide .imagem{
		position: relative;
	}
	#boxes .slide .imagem a:after{
	    position: absolute;
	    background: rgba(31, 71, 153, 0.85);
	    content: "";
	    max-width: 280px;
		max-height: 270px;
	    top: 0px; bottom: 0px; left: 0px; right: 0px;
	    opacity: 1;
	    transition: .5s;
	}
	#boxes .slide a:hover:after{
	    background: rgba(159, 182, 36, 0.8);
	}
	#boxes .slide img,
	#boxes .slide p{
		position: relative;
		z-index: 1;
	}
	#boxes .slide a.text-center img{
		margin-bottom: 10px;
	}
	#boxes .slide p{
		font-size: 22px;
		line-height: 22px;
	}

	#boxes .slide .descricao{
		opacity: 0;
		position: absolute;
		z-index: 0;
		background-color: #dfe0e3;
		padding: 30px 20px 30px 30px;
		width: 282px;
		height: 281px;
		margin-left: -1px;
	}
	#boxes .slide .primeiro .descricao{
		top: 166px;
	}
	#boxes .slide .primeiro .descricao img{
		margin-top: -60px;
		position: absolute;
		left: 0;
		right: 0;
	}
	#boxes .slide .segundo .descricao{
		top: 156px;
	}
	#boxes .slide .segundo .descricao img{
		transform: rotate(180deg);
		margin-top: 30px;
		position: absolute;
		left: 0;
		right: 0;
	}
	#boxes .slide .primeiro:hover .descricao{
		opacity: 1;
		z-index: 2;
		margin-top: 103px;
	}
	#boxes .slide .segundo:hover .descricao{
		opacity: 1;
		z-index: 2;
		margin-top: -438px;
	}

	#boxes .slide .descricao p{
		font-size: 15px;
		text-align: justify;
		max-height: 230px;
		height: 100%;
		overflow-y: auto;
		padding-right: 10px;
	}
	#boxes .slide .descricao p::-webkit-scrollbar{
		width: 6px;
	}
	#boxes .slide .descricao p::-webkit-scrollbar-track {
	  background: #fff;
	}
	#boxes .slide .descricao p::-webkit-scrollbar-thumb {
	  background: var(--new-blue);
	  border-radius: 10px;
	}
	
/* --- corpo medico --- */
	#corpo-medico{
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}

	#corpo-medico {
		margin-top: 120px;
	}
	#corpo-medico h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	#corpo-medico .text-center p.font-regular{
		font-size: 20px;
		line-height: 25px;
		max-width: 590px;
		margin-bottom: 70px;
	}
	#corpo-medico .slide{
		border: 1px solid #b3b4b4;
		max-width: 535px;
		width: 100%;
		min-height: 295px;
		height: 100%;
	}
	#corpo-medico .slide img.profissional{
		height: 100%;
		object-fit: cover;
	}
	#corpo-medico .slide p.text-green{
		font-size: 16px;
		margin-top: 25px;
	}
	#corpo-medico .slide h5{
		font-size: 25px;
	}
	#corpo-medico .slide p.text-black{
		font-size: 14px;
		max-height: 140px;
		line-height: 20px;
		overflow-y: auto;
		padding-right: 10px;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar{
		width: 5px;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar-track {
	  background: #fff;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar-thumb {
	  background: var(--new-blue);
	  border-radius: 10px;
	}
	#corpo-medico .slide span{
		font-size: 11px;
		text-decoration: underline;
	}
	
	#corpo-medico .btn-slick-carousel-left,
	#corpo-medico .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		bottom: -80px;
		width: 25px;
	}
	#corpo-medico .btn-slick-carousel-left{
		left: 45%;
	}
	#corpo-medico .btn-slick-carousel-right{
		right: 45%;
	}

	#corpo-medico .slick-dots li{
		display: none;
	}

/* --- especialidades --- */
	#especialidades .container2{
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	#especialidades{
		padding-top: 30px;
		padding-left: 50px;
		padding-right: 50px;
	}
	#especialidades .row{
		background: url(../imagens/bg/bg-exame.jpg)no-repeat center center;
		background-size: cover;
		height: 420px;
		margin-top: 100px;
		margin-bottom: 80px;
	}
	#especialidades .mr-auto{
		margin-left: 105px;
	}
	#especialidades h2{
		font-size: 53px;
		line-height: 50px;
		padding-top: 60px;
	}
	#especialidades a.btn{
		margin-top: 10px;
		width: 190px;
		height: 50px;
		color: #fff;
		background-color: var(--new-green);
		transition: .5s;
		padding-top: 14px;
		font-size: 17px;
	}
	#especialidades a.btn:hover{
		color: var(--new-green);
		background-color: transparent;
		border: 1px solid var(--new-green);
		transition: .5s;	
	}
	
@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1024px) {
	/* --- boxes --- */
		#boxes .slide .imagem{
			width: 230px;
			height: 260px;
		}
		#boxes .slide .imagem a:after{
		    position: absolute;
		    content: "";
		    max-width: 230px;
			max-height: 260px;
		}
		#boxes .slide a.text-center img{
			margin-bottom: 10px;
			max-width: 70px;
		}
		#boxes .slide p{
			font-size: 20px;
			line-height: 20px;
		}

		#boxes .slide .descricao{
			padding: 30px 20px 30px 30px;
			max-width: 231px;
			height: 260px;
		}
		#boxes .slide .primeiro .descricao{
			top: 169px;
		}
		#boxes .slide .segundo .descricao{
			top: 166px;
		}
		#boxes .slide .segundo .descricao img{
			margin-top: 30px;
		}
		#boxes .slide .primeiro:hover .descricao{
			margin-top: 103px;
		}
		#boxes .slide .segundo:hover .descricao{
			margin-top: -438px;
		}

		#boxes .slide .descricao p{
			font-size: 13px;
			max-height: 200px;
			padding-right: 10px;
		}

	/* --- corpo medico --- */
		#corpo-medico .slide{
			max-width: 450px;
		}

	/* --- especialidades --- */
		#especialidades .mr-auto{
			margin-left: 50px;
		}
		#especialidades h2{
			font-size: 42px;
			line-height: 40px;
			padding-top: 70px;
		}
		#especialidades a.btn{
			width: 170px;
			height: 45px;
			padding-top: 12px;
			font-size: 15px;
		}
}

@media screen and (max-width: 768px) {
	/* --- banner --- */
		#banner{
			height: 412px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- boxes --- */
		#boxes .slide .imagem{
			width: 172px;
			height: 168px;
		}
		#boxes .slide .imagem a:after{
		    position: absolute;
		    content: "";
		    max-width: 172px;
			max-height: 168px;
		}
		#boxes .slide a.text-center img{
			margin-bottom: 10px;
			max-width: 50px;
			padding-top: 45px!important;
		}
		#boxes .slide p{
			font-size: 13px;
			line-height: 15px;
		}

		#boxes .slide .descricao{
			padding: 10px 10px 20px 20px;
			max-width: 172px;
			height: 174px;
			margin-left: 0px;
		}
		#boxes .slide .primeiro .descricao{
			top: 65px;
		}
		#boxes .slide .primeiro .descricao img{
			margin-top: -25px;
			max-width: 40px;
		}
		#boxes .slide .segundo{
			margin-top: -6px;
		}
		#boxes .slide .segundo .descricao{
			top: 264px;
		}
		#boxes .slide .segundo .descricao img{
			margin-top: 20px;
			max-width: 40px;
		}
		#boxes .slide .primeiro:hover .descricao{
			margin-top: 103px;
		}
		#boxes .slide .segundo:hover .descricao{
			margin-top: -438px;
		}
		#boxes .slide .descricao p{
			font-size: 11px;
			line-height: 14px;
			max-height: 200px;
			padding-right: 10px;
		}
		
	/* --- corpo medico --- */
		#corpo-medico {
			margin-top: 110px;
		}
		#corpo-medico {
			margin-top: 110px;
		}
		#corpo-medico h2{
			font-size: 29px;
			letter-spacing: .5px;
		}
		#corpo-medico .text-center p.font-regular{
			font-size: 14px;
			line-height: 18px;
		}
		#corpo-medico .slide{
			max-width: 350px;
			min-height: auto;
			height: 100%;
		}
		#corpo-medico .slide img.profissional{
			max-height: 230px;
			height: 100%;
		}
		#corpo-medico .slide p.text-green{
			font-size: 12px;
			margin-top: 20px;
		}
		#corpo-medico .slide h5{
			font-size: 17px;
		}
		#corpo-medico .slide p.text-black{
			font-size: 11px;
			max-height: 110px;
			line-height: 12px;
			padding-right: 5px;
		}
		#corpo-medico .slide span{
			font-size: 9px;
		}
		#corpo-medico .slide span img{
			max-width: 12px;
		}
		
		#corpo-medico .btn-slick-carousel-left,
		#corpo-medico .btn-slick-carousel-right{
			bottom: -60px;
			width: 18px;
		}
		#corpo-medico .btn-slick-carousel-left{
			left: 45%;
		}
		#corpo-medico .btn-slick-carousel-right{
			right: 45%;
		}

		#corpo-medico .slick-dots li{
			display: none;
		}

	/* --- especialidades --- */
		#especialidades{
			padding-left: 20px;
			padding-right: 20px;
		}
		#especialidades .row{
			height: 260px;
			margin-top: 50px;
			margin-bottom: 40px;
		}
		#especialidades .mr-auto{
			margin-left: 50px;
		}
		#especialidades h2{
			font-size: 32px;
			line-height: 30px;
			padding-top: 40px;
		}
		#especialidades a.btn{
			width: 112px;
			height: 30px;
			padding-top: 7px;
			font-size: 11px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}
		
	/* --- boxes --- */
		#boxes {
			margin-top: -20px;
			max-width: 335px;
			margin-left: auto;
			margin-right: auto; 
		}
		#boxes .slide .imagem{
			width: 160px;
			height: 150px;
		}
		#boxes .slide .imagem a:after{
		    position: absolute;
		    content: "";
		    max-width: 160px;
			max-height: 150px;
		}
		#boxes .slide a.text-center img{
			margin-bottom: 10px;
			max-width: 45px;
			padding-top: 40px!important;
		}
		#boxes .slide p{
			font-size: 12px;
			line-height: 14px;
		}

		#boxes .slide .descricao{
			padding: 10px 7px 15px 15px;
			max-width: 160px;
			height: 157px;
		}
		#boxes .slide .primeiro .descricao{
			top: 46px;
		}
		#boxes .slide .primeiro .descricao img{
			margin-top: -25px;
			max-width: 40px;
		}
		#boxes .slide .segundo .descricao{
			top: 281px;
		}
		#boxes .slide .segundo .descricao img{
			margin-top: 14px;
			max-width: 40px;
		}
		#boxes .slide .primeiro:hover .descricao{
			margin-top: 103px;
		}
		#boxes .slide .segundo:hover .descricao{
			margin-top: -438px;
		}
		#boxes .slide .descricao p{
			font-size: 12px;
			line-height: 14px;
			max-height: 200px;
			padding-right: 10px;
		}

		#boxes .slick-dots{
			left: 0;
			right: 0;
		}
		#boxes .slick-dots li{
			display: inline-block;
			width: 10px;
			height: 10px;
			bottom: 0px;
		}
		#boxes .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#boxes .slick-dots li button:before{
			color: transparent;
		}
		#boxes .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}
			
	/* --- corpo medico --- */
		#corpo-medico {
			margin-top: 60px;
		}
		#corpo-medico h2{
			font-size: 22px;
		}
		#corpo-medico .text-center p.font-regular{
			font-size: 12px;
			line-height: 16px;
		}
		#corpo-medico .slide{
			max-width: 230px;
			min-height: auto;
			height: 100%;
			margin-left: 15px!important; 
			margin-right: 15px!important; 
		}
		#corpo-medico .slide img.profissional{
			width: 100%;
			max-height: 210px;
			height: 100%;
		}
		#corpo-medico .slide .sm-descricao{
			padding-left: 30px;
			padding-right: 30px;
			height: 230px;
		}
		#corpo-medico .slide p.text-green{
			font-size: 12px;
			margin-top: 20px;
		}
		#corpo-medico .slide h5{
			font-size: 18px;
		}
		#corpo-medico .slide p.text-black{
			font-size: 11px;
			height: 130px;
			line-height: 12px;
			padding-right: 5px;
			margin-bottom: 10px;
		}
		#corpo-medico .slide span{
			font-size: 9px;
		}
		#corpo-medico .slide span img{
			max-width: 12px;
		}

		#corpo-medico .slick-dots li{
			display: inline-block;
			width: 10px;
			height: 10px;
			bottom: -20px;
		}
		#corpo-medico .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#corpo-medico .slick-dots li button:before{
			color: transparent;
		}
		#corpo-medico .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}

	/* --- especialidades --- */
		#especialidades{
			padding-left: 10px;
			padding-right: 10px;
		}
		#especialidades .row{
			height: 260px;
			margin-top: 50px;
			margin-bottom: 40px;
		}
		#especialidades .mr-auto{
			margin-left: 10px;
		}
		#especialidades h2{
			padding-top: 80px;
			font-size: 24px;
			line-height: 24px;
		}
		#especialidades a.btn{
			margin-top: 20px;
			width: 105px;
			height: 28px;
			padding-top: 6px;
			font-size: 10px;
		}
}

@media screen and (max-width: 375px) {
	/* --- boxes --- */
		#boxes {
			margin-top: -20px;
			max-width: 350px;
		}
		#boxes .slide .imagem{
			width: 150px;
			height: 140px;
		}
		#boxes .slide .imagem a:after{
		    position: absolute;
		    content: "";
		    max-width: 150px;
			max-height: 140px;
		}
		#boxes .slide a.text-center img{
			margin-bottom: 10px;
			max-width: 45px;
			padding-top: 40px!important;
		}
		#boxes .slide p{
			font-size: 12px;
			line-height: 14px;
		}

		#boxes .slide .descricao{
			padding: 10px 7px 15px 15px;
			width: 150px;
			height: 147px;
		}
		#boxes .slide .primeiro .descricao{
			top: 36px;
		}
		#boxes .slide .primeiro .descricao img{
			margin-top: -25px;
			max-width: 40px;
		}
		#boxes .slide .segundo .descricao{
			top: 291px;
		}
}