
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato.jpg)no-repeat center center;
		background-size: cover;
		height: 460px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;	
	}

/* --- descricao --- */
	#descricao{
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	#descricao h2{
		font-size: 42px;
	}
	#descricao p{
		font-size: 15px;
	}

/* --- formulario e mapa --- */
	#form-mapa{
		margin-bottom: 70px;
	}
	#form-mapa .container{
		background-color: #eaeaea;
		padding-top: 60px;
		padding-bottom: 90px;
	}
	#form-mapa .container .row{
		padding-left: 10px; 
		padding-right: 10px; 
	}
	#form-mapa .container .col-md-6{
		padding-left: 30px;
		padding-right: 30px;
	}
	#form-mapa .form-group{
		margin-bottom: 10px;
	}
	#form-mapa .form-control{
		height: 41px;
		background-color: #fff;
		border-radius: 5px;
		margin-bottom: 8px;
	}
	#form-mapa textarea.form-control{
		height: 106px;
		border-radius: 5px;
	}
	#form-mapa input,
	#form-mapa select,
	#form-mapa ::placeholder{
		color: #4c4c4c;
		font-size: 12px;
		font-family: "Roboto Light";
		padding-left: 15px;
	}
	#form-mapa a.btn{
		font-size: 17px;
		width: 130px;
		height: 42px;
		padding-top: 9px;
		border-radius: 6px;
		background-color: var(--new-green);
		color: #fff;
	}
	#form-mapa a.btn:hover{
		padding-top: 8px;
		border: 2px solid var(--new-green);
		background-color: transparent;
		color: var(--new-green);
	}

	/* --- endereco --- */
	#form-mapa .endereco{
		padding-left: 20px;
	}
	#form-mapa .endereco a{
		color: #2a2a2a;
		margin-bottom: 0;
	}
	#form-mapa .endereco a p span.font-regular{
		position: relative;
		top: -8px;
	}
	#form-mapa .endereco a:hover{
		text-decoration: underline!important;
	}
	#form-mapa .endereco .borda-direita{
		border-right: 2px solid #2a2a2a;
		padding-right: 12px;
	}
	#form-mapa .endereco img{
		filter: brightness(20%);
	}
	#form-mapa .endereco a.btn{
		margin-top: 70px;
		width: 220px;
		height: 42px;
		font-size: 17px;
		background-color: var(--new-blue);
		color: #fff;
	}
	#form-mapa .endereco a.btn:hover{
		border: 2px solid var(--new-blue);
		background-color: transparent;
		color: var(--new-blue);
		text-decoration: none!important;
	}
	
	/* --- mapas --- */
	#mapas{
		margin-top: 80px;
	}
	#mapas .media img{
		filter: brightness(20%);
	}
	#mapas .media p{
		line-height: 20px;
	}
	#mapas .media p span.font-bold{
		font-size: 17px;
	}
	#mapas .media p span.font-regular{
		font-size: 16px;
	}
	#form-mapa iframe{
		height: 390px;
	}

/* --- Modal Curriculo --- */
	#modal_curriculo .modal-dialog{
		max-width: 505px;
	}
	#modal_curriculo .modal-content{
		border-radius: 0;
		background-color: #e2e2e2;
		padding: 0;
	}
	#modal_curriculo .modal-content .fechar{
		margin-top: 15px;
		margin-right: 15px;
		display: inline-block;
		border: 2px solid #9f9f9d;
		border-radius: 50%;
		padding: 0px 7px;
		font-weight: bold;
		color: #9f9f9d;
		cursor: pointer;
	}
	#modal_curriculo .modal-body{
		padding-left: 0;
		padding-right: 1px;
		padding-bottom: 0;
	}
	#modal_curriculo .descricao{
		margin-top: -20px;
		padding-left: 40px;
		padding-right: 40px;
	}
	#modal_curriculo .descricao h2{
		font-size: 27px;
	}
	#modal_curriculo .descricao p{
		font-size: 15px;
		text-align: justify;
	}
	#modal_curriculo .alert{
		border-radius: 0px;
		border: 1px solid #adc337;
		background-color: #dbdfc9;
		color: #6d8008;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#modal_curriculo .alert p{
		font-size: 12px;
		text-align: initial;
	}
	#modal_curriculo .formulario{
		background-color: #f2f3f3;
		padding: 28px 40px 50px;
	}
	#modal_curriculo .formulario input{
		height: 42px;
		font-size: 13px;
		font-family: "Roboto Light";
	}
	#modal_curriculo .formulario textarea{
		height: 95px;
		font-size: 13px;
		font-family: "Roboto Light";
	}
	#modal_curriculo .formulario .d-flex a.btn{
		width: 260px;
		height: 42px;
		font-size: 12px;
		background-color: var(--new-blue);
		color: #fff;
		border-radius: 0;
		padding-top: 12px;
	}
	#modal_curriculo .formulario .d-flex a.btn:hover{
		box-shadow: 0 2px 4px #888;
	}
	#modal_curriculo .formulario .d-flex .alert{
		height: 42px;
		padding-top: 10px;
	}
	#modal_curriculo .formulario .d-flex .alert p{
		font-size: 12px;
	}
	#modal_curriculo .formulario .text-right a.btn{
		width: 112px;
		height: 42px;
		font-size: 16px;
		background-color: var(--new-green);
		color: #fff;
		padding-top: 10px;
	}
	#modal_curriculo .formulario .text-right a.btn:hover{
		background-color: transparent;
		border: 2px solid var(--new-green);
		color: var(--new-green);
		padding-top: 9px;
	}

@media screen and (max-width: 1200px) {
	/* --- descricao --- */
		#descricao{
			padding-left: 50px;
			padding-right: 50px;
			margin-top: 50px;
		}

	/* --- formulario e mapa --- */
		#form-mapa{
			padding-left: 65px;
			padding-right: 65px;
		}
		#form-mapa .container .col-md-6{
			padding-left: 20px;
			padding-right: 20px;
		}
		
		/* --- mapas --- */
		#mapas .media p span.font-bold{
			font-size: 16px;
		}
		#mapas .media p span.font-regular{
			font-size: 15px;
		}		
}

@media screen and (max-width: 768px) {
	/* --- banner --- */
		#banner{
			height: 350px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- descricao --- */
		#descricao{
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 35px;
			margin-bottom: 35px;
		}
		#descricao h2{
			font-size: 29px;
		}
		#descricao p{
			font-size: 12px;
		}
		
	/* --- formulario e mapa --- */
		#form-mapa .endereco a p span.font-regular{
			top: -3px;
		}

		#form-mapa{
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom: 36px;
		}
		#form-mapa .container{
			background-color: transparent;
			padding-top: 0px;
			padding-bottom: 0px;
		}
		#form-mapa .container .col-md-6{
			padding-left: 8px;
			padding-right: 8px;
		}
		#form-mapa .form-group{
			margin-bottom: 10px!important;
		}
		#form-mapa .form-control{
			height: 33px;
		}
		#form-mapa textarea.form-control{
			height: 85px;
		}
		#form-mapa input,
		#form-mapa select,
		#form-mapa ::placeholder{
			font-size: 9.50px;
		}
		#form-mapa a.btn{
			font-size: 13.50px;
			width: 105px;
			height: 35px;
			padding-top: 7px;
			border-radius: 5px;
		}
		#form-mapa a.btn:hover{
			padding-top: 6px;
		}

		/* --- endereco --- */
		#form-mapa .endereco .media img{
			max-width: 18px;
		}
		#form-mapa .endereco .media p{
			font-size: 15px;
			line-height: 16px;
		}
		#form-mapa .endereco .media p span.font-regular{
			font-size: 13px;
		}
		#form-mapa .endereco .d-flex .media p{
			font-size: 13.50px;
		}
		#form-mapa .endereco .borda-direita{
			border-right: 1px solid #2a2a2a;
		}
		#form-mapa .endereco a.btn{
			margin-top: 25px;
			width: 185px;
			height: 34px;
			font-size: 13.50px;
		}
		#form-mapa .endereco a.btn:hover{
			padding-top: 6px;
		}
		
		/* --- mapas --- */
		#mapas .media img{
			max-width: 20px;
		}
		#mapas .media p{
			line-height: 15px;
		}
		#mapas .media p span.font-bold{
			font-size: 13px;
		}
		#mapas .media p span.font-regular{
			font-size: 12px;
		}
		#form-mapa iframe{
			height: 300px;
		}

	/* --- Modal Curriculo --- */
		#modal_curriculo .modal-dialog{
			max-width: 390px;
		}
		#modal_curriculo .modal-content .fechar{
			padding: 0px 5px;
			font-size: 12px;
		}
		#modal_curriculo .descricao{
			padding-left: 35px;
			padding-right: 35px;
		}
		#modal_curriculo .descricao h2{
			font-size: 21px;
		}
		#modal_curriculo .descricao p{
			font-size: 12px;
		}
		#modal_curriculo .alert p{
			font-size: 9.30px;
		}
		#modal_curriculo .formulario{
			padding: 20px 35px 40px;
		}
		#modal_curriculo .formulario input{
			height: 34px;
			font-size: 10px;
		}
		#modal_curriculo .formulario textarea{
			height: 72px;
			font-size: 10px;
		}
		#modal_curriculo .formulario .d-flex a.btn{
			width: 200px;
			height: 34px;
			font-size: 9.24px;
		}
		#modal_curriculo .formulario .d-flex a.btn img{
			max-width: 15px;
			margin-top: -5px;
		}
		#modal_curriculo .formulario .d-flex .alert{
			max-width: 120px;
			height: 30px;
			padding-top: 8px;
			padding-left: 10px;
			padding-right: 10px;
		}
		#modal_curriculo .formulario .d-flex .alert p{
			font-size: 9.24px;
		}
		#modal_curriculo .formulario .text-right a.btn{
			width: 88px;
			height: 35px;
			font-size: 12px;
			padding-top: 8px;
		}
		#modal_curriculo .formulario .text-right a.btn:hover{
			padding-top: 7px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}

	/* --- descricao --- */
		#descricao{
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 40px;
			margin-bottom: 0px;
		}
		#descricao h2{
			font-size: 22px;
		}
		#descricao p{
			font-size: 12px;
		}
		
	/* --- formulario e mapa --- */
		#form-mapa .endereco a p span.font-regular{
			top: 0px;
		}

		#form-mapa{
			padding-left: 12px;
			padding-right: 12px;
			margin-bottom: 36px;
		}
		#form-mapa .form-control{
			height: 30px;
		}
		#form-mapa textarea.form-control{
			height: 75px;
		}
		#form-mapa input,
		#form-mapa select,
		#form-mapa ::placeholder{
			font-size: 9.50px;
		}
		#form-mapa a.btn{
			font-size: 11.50px;
			width: 90px;
			height: 28px;
			padding-top: 6px;
			border-radius: 5px;
		}
		#form-mapa a.btn:hover{
			padding-top: 5px;
		}

		#form-mapa .text-left a.btn{
			background-color: var(--new-blue);
			color: #fff;
			width: 155px;
			height: 28px;
			font-size: 11.50px;
		}
		#form-mapa .text-left a.btn:hover{
			background-color: transparent;
			color: var(--new-blue);
			border: 2px solid var(--new-blue);
			padding-top: 5px;
		}

		/* --- endereco --- */
		#form-mapa .endereco{
			padding-left: 0px;
		}
		#form-mapa .endereco .media img{
			max-width: 18px;
		}
		#form-mapa .endereco .media p{
			font-size: 14px;
			line-height: 16px;
		}
		#form-mapa .endereco .media p span.font-regular{
			font-size: 14px;
		}
		#form-mapa .endereco .d-flex .media p{
			font-size: 14px;
		}
		
		/* --- mapas --- */
		#mapas .media img{
			max-width: 18px;
		}
		#mapas .media p{
			line-height: 15px;
		}
		#mapas .media p span.font-bold{
			font-size: 12px;
		}
		#mapas .media p span.font-regular{
			font-size: 12px;
		}
		#form-mapa iframe{
			height: 300px;
		}

	/* --- Modal Curriculo --- */
		#modal_curriculo .modal-dialog{
			max-width: 390px;
		}
		#modal_curriculo .modal-content .fechar{
			padding: 0px 5px;
			font-size: 12px;
		}
		#modal_curriculo .descricao{
			padding-left: 35px;
			padding-right: 35px;
		}
		#modal_curriculo .descricao h2{
			font-size: 21px;
		}
		#modal_curriculo .descricao p{
			font-size: 12px;
		}
		#modal_curriculo .alert p{
			font-size: 9.30px;
		}
		#modal_curriculo .formulario{
			padding: 20px 35px 40px;
		}
		#modal_curriculo .formulario input{
			height: 34px;
			font-size: 10px;
		}
		#modal_curriculo .formulario textarea{
			height: 72px;
			font-size: 10px;
		}
		#modal_curriculo .formulario .d-flex a.btn{
			width: 200px;
			height: 34px;
			font-size: 9.24px;
		}
		#modal_curriculo .formulario .d-flex a.btn img{
			max-width: 15px;
			margin-top: -5px;
		}
		#modal_curriculo .formulario .d-flex .alert{
			max-width: 120px;
			height: 30px;
			padding-top: 8px;
			padding-left: 10px;
			padding-right: 10px;
		}
		#modal_curriculo .formulario .d-flex .alert p{
			font-size: 9.24px;
		}
		#modal_curriculo .formulario .text-right a.btn{
			width: 88px;
			height: 35px;
			font-size: 12px;
			padding-top: 8px;
		}
		#modal_curriculo .formulario .text-right a.btn:hover{
			padding-top: 7px;
		}
}