
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-exames.jpg)no-repeat center center;
		background-size: cover;
		height: 460px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;	
	}

/* --- descricao --- */
	#descricao{
		padding-left: 130px;
		padding-right: 130px;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	#descricao h2{
		font-size: 42px;
	}
	#descricao p.text-justify{
		font-size: 18px;
		letter-spacing: .5px;
		margin-bottom: 70px;
		max-width: 999px;
		margin-left: auto;
		margin-right: auto;
	}

	#descricao .row{
		margin-bottom: 30px;
		background-color: #dfe0e3;
		min-height: 265px;
		height: 100%;
	}
	#descricao .row .imagem{
		background: url(../imagens/bg/bg-oftalmologicos.jpg)no-repeat center center;
		background-size: cover;
		min-height: 265px;
		height: 100%;
		padding-left: 50px;
		padding-right: 50px;
		max-width: 278px;
	}
	#descricao .row .imagem img{
		margin-top: 45%;
	}
	#descricao .row .imagem p{
		font-size: 20px;
		line-height: 20px;
		margin-top: 15px;
		color: #fff;
		text-transform: uppercase;
	}
	#descricao .row .descricao{
		max-width: 716px;
		padding-top: 50px;
	}
	#descricao .row .descricao p{
		max-width: 625px;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		text-align: justify;
		max-height: 125px;
		height: 100%;
		overflow-y: auto;
		padding-right: 10px;
	}
	#descricao .row .descricao p::-webkit-scrollbar{
		width: 5px;
	}
	#descricao .row .descricao p::-webkit-scrollbar-track {
	  background: #fff;
	}
	#descricao .row .descricao p::-webkit-scrollbar-thumb {
	  background: var(--new-green);
	  border-radius: 10px;
	}
	#descricao .row .descricao a.btn{
		margin-top: 10px;
		margin-right: 40px;
		width: 238px;
		height: 40px;
		background-color: var(--new-green);
		color: #fff;
		padding: 8px;
	}
	#descricao .row .descricao a.btn:hover{
		background-color: transparent;
		border: 2px solid var(--new-green);
		color: var(--new-green);
		padding: 7px;
	}
	#descricao .row .descricao a.btn img{
		margin-top: -5px;
	}

	#descricao .carregar a.btn{
		margin: 40px auto;
		width: 235px;
		height: 35px;
		font-size: 14px;
		background-color: var(--new-blue);
		color: #fff;
		padding-top: 7px;
	}
	#descricao .carregar a.btn:hover{
		background-color: transparent;
		border: 2px solid var(--new-blue);
		color: var(--new-blue);
		padding-top: 6px;
	}

/* --- Modal Agenda --- */
	#modal_agenda .modal-dialog{
		max-width: 709px;
	}
	#modal_agenda .modal-content{
		border-radius: 0;
		background-color: var(--new-green);
		padding: 0;
	}
	#modal_agenda .modal-content .fechar{
		margin-top: 30px;
		margin-right: 30px;
		display: inline-block;
		border: 2px solid #fff;
		border-radius: 50%;
		padding: 0px 7px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
	}
	#modal_agenda .descricao{
		margin-top: 20px;
		padding-left: 60px;
		padding-right: 60px;
	}
	#modal_agenda .descricao p{
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: #fff;
	}
	#modal_agenda .formulario{
		padding: 20px 40px 60px;
	}
	#modal_agenda .formulario input,
	#modal_agenda .formulario select{
		height: 42px;
		font-size: 12px;
		font-family: "Roboto Regular";
		margin-bottom: 10px;
	}
	#modal_agenda .formulario .text-right a.btn{
		width: 112px;
		height: 38px;
		font-size: 14px;
		background-color: var(--new-blue);
		color: #fff;
		padding-top: 9px;
		margin-top: 0px;
	}
	#modal_agenda .formulario .text-right a.btn:hover{
		background-color: #fff;
		color: var(--new-blue);
	}

@media screen and (max-width: 1200px) {
	/* --- descricao --- */
		#descricao{
			padding-left: 50px;
			padding-right: 50px;
			margin-top: 50px;
		}
}

@media screen and (max-width: 768px) {
	/* --- banner --- */
		#banner{
			height: 350px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- descricao --- */
		#descricao{
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 35px;
			margin-bottom: 35px;
		}
		#descricao p{
			font-size: 15px;
		}

		#descricao .row{
			margin-top: 40px;
			min-height: 190px;
			height: 100%;
			margin-bottom: 20px;
		}
		#descricao .row .imagem{
			min-height: 190px;
			height: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
		#descricao .row .imagem img{
			margin-top: 30%;
			max-width: 45px;
		}
		#descricao .row .imagem p{
			font-size: 14px;
			line-height: 20px;
			margin-top: 10px;
		}
		#descricao .row .descricao{
			padding: 35px 30px 0px 30px;
		}
		#descricao .row .descricao p{
			font-size: 12px;
			max-height: 90px;
		}
		#descricao .row .descricao a.btn{
			font-size: 9px;
			margin-top: 16px;
			width: 165px;
			height: 28px;
			padding: 6px;
		}
		#descricao .row .descricao a.btn:hover{
			padding: 5px;
		}
		#descricao .row .descricao a.btn img{
			margin-top: -5px;
			max-width: 16px;
		}

		#descricao .carregar a.btn{
			margin: 30px auto;
			width: 182px;
			height: 30px;
			font-size: 11px;
			padding-top: 7px;
		}
		#descricao .carregar a.btn:hover{
			padding-top: 6px;
		}
		
	/* --- Modal Agenda --- */
		#modal_agenda .modal-dialog{
			max-width: 565px;
		}
		#modal_agenda .modal-content .fechar{
			margin-top: 30px;
			margin-right: 30px;
			padding: 0px 6px;
			color: #fff;
			font-size: 14px;
		}
		#modal_agenda .descricao{
			margin-top: 20px;
			padding-left: 50px;
			padding-right: 50px;
		}
		#modal_agenda .descricao p{
			font-size: 16px;
			line-height: 20px;
		}
		#modal_agenda .formulario{
			padding: 10px 30px 40px;
		}
		#modal_agenda .formulario input,
		#modal_agenda .formulario select{
			height: 32px;
			font-size: 9px;
			margin-bottom: 4px;
		}
		#modal_agenda .formulario .text-right a.btn{
			width: 90px;
			height: 32px;
			font-size: 11px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}

	/* --- descricao --- */
		#descricao{
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 40px;

			margin-bottom: 80px;
		}
		#descricao h2{
			font-size: 22px;
		}
		#descricao p.text-justify{
			font-size: 12px;
			margin-bottom: 30px;
		}
		.customer-tipos-exames .slide{
			max-width: 320px;
			width: 100%;
			margin-top: 10px;
		}
		.customer-tipos-exames .imagem{
			background: url(../imagens/bg/bg-oftalmologicos.jpg)no-repeat center center;
			background-size: cover;
			width: 240px;
			height: 190px;
			margin: 0 auto;
			padding-top: 50px;
			position: relative;
			z-index: 2;
		}
		.customer-tipos-exames .imagem img{
			margin-bottom: 10px;
			max-width: 40px;
		}
		.customer-tipos-exames .imagem p{
			font-size: 14px!important;
			line-height: 15px;
			color: #fff;
		}
		.customer-tipos-exames .descricao{
			background-color: #dfe0e3;
			margin-top: -60px;
			padding-top: 75px;
			padding-bottom: 20px;
			padding-left: 40px;
			padding-right: 30px;
			height: 320px;
		}
		.customer-tipos-exames .descricao p{
			font-size: 12.5;
			text-align: justify;
			max-height: 180px;
			height: 100%;
			overflow-y: auto;
			padding-right: 10px;
		}
		.customer-tipos-exames .descricao p::-webkit-scrollbar{
			width: 5px;
		}
		.customer-tipos-exames .descricao p::-webkit-scrollbar-track {
		  background: #fff;
		}
		.customer-tipos-exames .descricao p::-webkit-scrollbar-thumb {
		  background: var(--new-green);
		  border-radius: 10px;
		}
		.customer-tipos-exames .descricao a.btn{
			font-size: 9px;
			margin-top: 20px;
			width: 170px;
			height: 28px;
			background-color: var(--new-green);
			color: #fff;
			padding: 7px;
		}
		.customer-tipos-exames .descricao a.btn:hover{
			background-color: transparent;
			border: 2px solid var(--new-green);
			color: var(--new-green);
			padding: 6px;
		}
		.customer-tipos-exames .descricao a.btn img{
			max-width: 15px;
			margin-top: -3px;
			display: inline-block;
		}

		.customer-tipos-exames .slick-dots li{
			width: 15px;
			height: 10px;
			bottom: -10px;
		}
		.customer-tipos-exames .slick-dots li button{
			width: 14px;
			height: 14px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		.customer-tipos-exames .slick-dots li button:before{
			color: transparent;
		}
		.customer-tipos-exames .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			color: var(--new-blue);
			width: 14px;
			height: 14px;
			border-radius: 50%;
			opacity: 1;
		}
		
	/* --- Modal Agenda --- */
		#modal_agenda .modal-dialog{
			max-width: 302px;
			margin-left: auto;
			margin-right: auto;
		}
		#modal_agenda .modal-content .fechar{
			margin-top: 10px;
			margin-right: 10px;
			padding: 0px 5px;
			font-size: 12px;
		}
		#modal_agenda .descricao{
			margin-top: 0px;
			padding-left: 20px;
			padding-right: 20px;
		}
		#modal_agenda .descricao p{
			font-size: 12px;
			line-height: 16px;
		}
		#modal_agenda .formulario{
			padding: 0px 20px 20px;
		}
		#modal_agenda .formulario input,
		#modal_agenda .formulario select{
			height: 26px;
			font-size: 10px;
			margin-bottom: -1px;
		}
		#modal_agenda .formulario .text-right a.btn{
			width: 74px;
			height: 25px;
			font-size: 9px;
			padding-top: 5px;
		}
}