/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

/* --- outros --- */
	:root{
		--new-blue:#324995;
		--new-green:#9fb624;
		--new-gray:#f6f6f6;
		--new-black:#292929;
		--new-blue-dark:#2a3d7e;
	}
	body{
		max-width: 1920px;
		/*max-width: 1280px;*/
		margin-left: auto;
		margin-right: auto;
	}
	.body{
		background-color: var(--new-gray);
	}
	.container,
	.container-fluid{
		/*max-width: 1280px;*/
		max-width: 1010px;
		padding-left: 0;
		padding-right: 0;
	}
	.px-35{
		padding-left: 35px;
		padding-right: 35px;
	}
	a{
		text-decoration: none!important;
	}
	a:focus {
	    outline: none;
	}
	.bg-blue{
		background-color: var(--new-blue)!important;
	}
	.bg-green{
		background-color: var(--new-green)!important;
	}
	.bg-gray{
		background-color: var(--new-gray)!important;
	}
	.bg-black{
		background-color: var(--new-black)!important;
	}
	.bg-blue-dark{
		background-color: var(--new-blue-dark)!important;	
	}
	.text-orange{
		color: var(--new-orange)!important;
	}
	.text-blue{
		color: var(--new-blue)!important;
	}
	.text-green{
		color: var(--new-green)!important;
	}
	.text-gray{
		color: var(--new-gray)!important;
	}
	.text-black{
		color: var(--new-black)!important;
	}
	.text-blue-dark{
		color: var(--new-blue-dark)!important;
	}
	.font-bold{
		font-family: "Roboto Bold";
	}
	.font-regular{
		font-family: "Roboto Regular";
	}
	.font-light{
		font-family: "Roboto Light";
	}
	.font-mont-light{
		font-family: "Montserrat Light";
	}
	.font-mont-bold{
		font-family: "Montserrat Bold";
	}

/* --- button Agenda e WhatsApp --- */
	#btn-agenda,
	#btn-whatsapp{
		display: inline-block;
		position: fixed;
		right: 18%;
		transition: .5s;
	}
	#btn-agenda{
		bottom: 150px;
	}
	#btn-whatsapp{
		bottom: 80px;
	}
	#btn-agenda:hover,
	#btn-whatsapp:hover{
		cursor: pointer;
		transform: scale(1.05);
		transition: .5s;
	}

/* --- modal ekko-lightbox --- */
	.ekko-lightbox.modal .modal-header{
		padding: 0;
	}
	.ekko-lightbox.modal .modal-title{
		display: none;
	}

	.ekko-lightbox.modal .close{
		z-index: 999;
		position: absolute;
		border: 2px solid #fff;
		padding: 0px 5px;
		border-radius: 50%;
		top: 32px;
		right: 32px;
		opacity: 1;
	}
	.ekko-lightbox.modal .close span{
		position: relative;
		top: -5px;
		left: 0px;
		font-size: 20px;
		color: #fff;
	}
	.ekko-lightbox.modal .modal-content {
	    border-radius: 0rem!important;
	}
	.ekko-lightbox.modal .modal-body {
		border-radius: 0px;
		padding: 6px;
	    padding-bottom: 50px!important;
	}
	.ekko-lightbox.modal .modal-footer{
		display: block;
		border: 0;
		padding: 10px 0;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay {
	    position: absolute;
	    top: initial;
	    bottom: -22px;
	    left: 0;
	    height: 0%;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a{
		opacity: .5;
		color: #000;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a:first-child span{
		text-align: right;
	}
	.ekko-lightbox.modal .ekko-lightbox-nav-overlay a:last-child span{
		text-align: left;
	}

@media screen and (max-width: 1660px){
	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 12%;
		}
}
@media screen and (max-width: 1440px){
	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 6%;
		}
}
@media screen and (max-width: 1360px){
	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 4%;
		}
}
@media screen and (max-width: 1200px) {
	section{
		padding-left: 30px;
		padding-right: 30px;
	}
	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 1%;
			max-width: 50px;
		}
}
@media screen and (max-width: 768px) {
	/* --- outros --- */
		.px-35{
			padding-left: 32px;
			padding-right: 32px;
		}

	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 2%;
			max-width: 50px;
		}
		#btn-agenda{
			bottom: 110px;
		}
		#btn-whatsapp{
			bottom: 50px;
		}
}
@media screen and (max-width: 480px) {
	section{
		padding-left: 0px;
		padding-right: 0px;
	}
	/* --- button Agenda e WhatsApp --- */
		#btn-agenda,
		#btn-whatsapp{
			right: 4%;
			max-width: 45px;
		}
		#btn-agenda{
			bottom: 105px;
		}
		#btn-whatsapp{
			bottom: 50px;
		}

	/* --- ekko-lightbox --- */
		.ekko-lightbox.modal .close{
			padding: 0px 7px;
		}
		.ekko-lightbox.modal .close span{
			top: -1px;
			left: 0px;
			/*font-size: 20px;*/
		}
}

@media screen and (max-width: 375px) {
	
}