/* ---- Menu Top ---- */
	header{
		z-index: 1;
		width: 100%;
		background-color: #eeeeee;
	}
	header #topo{
		height: 36px;
	}
	header .media{
		transition: .5s;
	}
	header .media:hover{
		transform: scale(1.05);
		transition: .5s;
	}
	header .media .media-body{
		padding-top: 10px;
		margin-left: 10px;
		letter-spacing: .2px;
		font-size: 20px;
	}
	header .container-fluid{
		max-width: 1130px;
	}

	header .container{
		max-width: 1010px;
	}
	header .navbar-collapse li a img{
		margin-top: -5px;
		transition: .5s;
	}
	header .navbar-collapse li a img:hover{
		transform: scale(1.08);
		transition: .5s;
	}
	header .navbar-collapse li a{
		font-size: 20px;
		font-family: "Roboto Bold";
		color: var(--new-blue)!important;
	}
	header .navbar-collapse li.active a,
	header .navbar-collapse li a:hover{
		color: var(--new-green)!important;
	}

/* ---- Footer ---- */
	footer {
		background-color: var(--new-blue);
		padding-top: 60px;
	}
	footer .media p{
		color: #fff;
		font-size: 15px;
		line-height: 18px;
	}
	footer h4{
		font-size: 18px;
	}
	footer hr{
		max-width: 50px;
	}
	footer li{
		margin-bottom: 18px;
	}
	footer li a{
		color: #fff;
		font-size: 15px;
		font-family: "Roboto Regular";
	}
	footer a:hover p,
	footer li a:hover,
	footer li a.active{
		color: var(--new-green);
		font-weight: bold;
	}
	footer .atendimento a img,
	footer .atendimento a:hover img{
		transition: .5s;
	}
	footer .atendimento a:hover img{
		transform: scale(1.05);
	}

	footer #direitos{
		background-color: #2a3d7e;
	}
	footer #direitos span,
	footer #direitos p{
		opacity: .7;
		font-size: 10.45px;
	}

@media screen and (max-width: 768px) {
	/* ---- Menu Top ---- */
		header #topo{
			height: 26px;
		}
		header #topo a img{
			max-width: 16px;
			margin-top: -2px;
		}

		header .container-fluid{
			max-width: 710px;
		}
		
		header .media img{
			max-width: 42px;
		}
		header .media .media-body{
			font-size: 16px;
			padding-top: 10px;
		}
		
		header a.navbar-brand img{
			max-width: 220px;
		}
		header .navbar-collapse li a{
			font-size: 15px;
			font-family: "Roboto Bold";
		}

	/* ---- Footer ---- */
		footer .logo-footer{
			max-width: 114px;
		}
		footer .media img{
			max-width: 18px;
		}
		footer .media p{
			font-size: 10px;
			line-height: 14px;
		}
		footer h4{
			font-size: 12px;
		}
		footer hr{
			max-width: 50px;
		}
		footer li{
			margin-bottom: 6px;
		}
		footer li a{
			font-size: 11px;
		}
		footer .atendimento .d-inline img{
			max-width: 20px;
			margin-left: 2px;
			margin-right: 2px;
		}

		footer #direitos{
			max-height: 50px;
		}
		footer #direitos span,
		footer #direitos p{
			opacity: .7;
			font-size: 9px;
		}
		footer #direitos img{
			max-width: 35px;
		}
}

@media screen and (max-width: 480px) {
	/* ---- Menu Top ---- */
		header{
			padding-bottom: 5px;
		}
		header #topo{
			height: 20px;
		}

		header #topo .container-fluid{
			max-width: 320px;
		}
		header #topo a img{
			max-width: 14px;
			margin-top: -8px;
			margin-left: 2px!important;
			margin-right: 2px!important;
		}
		
		header .media img{
			max-width: 26px;
		}
		header .media .media-body{
			font-size: 12px;
			padding-top: 5px;
		}
		
		header a.navbar-brand img{
			max-width: 150px;
		}
		header .navbar-collapse{
			position: absolute;
			z-index: 999;
			width: 100%;
			left: 0;
			top: -60px;
			background-color: var(--new-blue);
		}
		header .navbar-collapse li{
			border-bottom: 1px solid #fff;
			padding-top: 6px;
			padding-bottom: 6px;
			margin-left: 15px;
			margin-right: 15px;
		}
		header .navbar-collapse li:first-child{
			border-bottom: 0px;
		}
		header .navbar-collapse li a{
			font-size: 13px;
			color: #fff!important;
			text-align: left;
			padding-left: 20px!important;
			padding-right: 20px!important;
		}
		header .navbar-collapse li a.fechar{
			border: 2px solid #fff;
			border-radius: 50%;
			display: inline-block;
			margin-top: 10px;
			margin-right: 10px;
			padding: 2px;
			padding-left: 9px!important;
			padding-right: 9px!important;
		}

		header .navbar-collapse li:hover{
			background-color: var(--new-green);
		}
		header .navbar-collapse li:hover a{
			color: #fff!important;
		}
		header .navbar-collapse li:first-child:hover{
			background-color: transparent;
		}

		header .navbar-collapse li.text-left{
			background-color: var(--new-blue-dark);
			border-bottom: 1px solid var(--new-blue-dark);
			padding-top: 10px; 
			padding-bottom: 0px; 
			padding-left: 15px;
			padding-right: 15px;
			margin-left: 0px;
			margin-right: 0px;
		}
		header .navbar-collapse li.text-left:last-child{
			padding-bottom: 15px;
			padding-left: 30px;
		}
		header .navbar-collapse li.text-left a img{
			max-width: 20px;
		}
		header .navbar-collapse li.text-left a{
			font-size: 11.50px;
		}
		header .navbar-collapse li.redes{
			padding-left: 15px;
		}
		header .navbar-collapse li.redes a{
			padding-left: 5px!important;
			padding-right: 5px!important;
		}

	/* ---- Footer ---- */
		footer {
			padding-top: 30px;
		}
		footer .logo-footer{
			max-width: 114px;
		}
		footer .media{
			display: inline-flex;
		}
		footer .media img{
			max-width: 18px;
		}
		footer .media p{
			font-size: 10px;
			line-height: 14px;
		}
		footer h4{
			font-size: 12px;
		}
		footer hr{
			max-width: 50px;
			position: relative;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		footer li{
			margin-bottom: 6px;
		}
		footer li a{
			font-size: 11px;
		}
		footer .atendimento .d-inline img{
			max-width: 20px;
			margin-left: 2px;
			margin-right: 2px;
		}

		footer #direitos{
			max-height: 110px;
		}
		footer #direitos span,
		footer #direitos p{
			font-size: 9px;
		}
		footer #direitos img{
			max-width: 35px;
		}	
}
