
/* --- carousel --- */
	#carousel .banner-01,
	#carousel .banner-02,
	#carousel .banner-03{
		background: url(../imagens/banners/banner-desktop.jpg)no-repeat center top;
	    background-size: cover;
		min-height: 640px;
		height: 100%;
	}
	#carousel .container .mr-auto{
		margin-left: 20px;
	}
	#carousel .container p.text-green{
		font-size: 17px;
		line-height: 20px;
	}
	#carousel .container h1{
		line-height: 48px;
		letter-spacing: 1px;
	}
	#carousel .container h1 span.font-light{
		font-size: 44.21px;
	}
	#carousel .container h1 span.font-bold{
		font-size: 48.35px;
	}
	#carousel .container p.small{
		font-size: 20px;
		letter-spacing: .8px;
	}
	#carousel .container a{
		width: 330px;
		height: 63px;
		font-size: 20px;
		color: #fff;
		background-color: var(--new-green);
		padding-top: 15px;
	}
	#carousel .container a:hover{
		color: var(--new-blue);
		border: 1px solid var(--new-blue);
		background-color: transparent;
	}

/* --- links -- */
	#links{
		margin-top: -130px;
		max-width: 1205px;
		margin-left: auto;
		margin-right: auto;
	}
	#links a{
		min-height: 305px;
		padding-top: 55px;
		padding-left: 30px;
		padding-right: 30px;
		color: #fff;
		transition: .3s;
	}
	#links img.logo-1,
	#links img.logo-2{
		margin-bottom: 20px;
	}
	#links h3{
		font-size: 30px;
	}
	#links img.ver{
		max-width: 25px;
		margin-top: -5px;
		margin-left: 15px;
	}
	#links p{
		font-size: 14px;
	}

	#links a:hover h3,
	#links a:hover p{
		color: var(--new-green);
		transition: .3s;
	}
	#links a.link-especialidades:hover h3,
	#links a.link-especialidades:hover p{
		color: var(--new-blue);
		transition: .3s;
	}
	#links a .logo-1,
	#links a .icon-1,
	#links a:hover .logo-2,
	#links a:hover .icon-2{
		display: inline-block;
	}
	#links a:hover .logo-1,
	#links a:hover .icon-1,
	#links a .logo-2,
	#links a .icon-2{
		display: none;
	}

/* --- referencia --- */
	#referencia{
		margin-top: 50px;
		max-width: 1205px;
		margin-left: auto;
		margin-right: auto;
	}
	#referencia img{
		border-radius: 8px;
	}
	#referencia p.text-green{
		font-size: 16px;
	}
	#referencia h2{
		line-height: 40px;	
	}
	#referencia h2 span.font-light{
		font-size: 38px;
	}
	#referencia h2 span.font-bold{
		font-size: 42px;
	}
	#referencia p{
		font-size: 18px;
		line-height: 25px;
	}
	#referencia h3{
		color: #333;
		font-size: 22px;
	}
	#referencia .col-6 p{
		font-size: 15px;
		line-height: 20px;
		padding-right: 20px;
	}
	#referencia a{
		color: var(--new-green);
		font-size: 20px;
		transition: .3s;
	}
	#referencia a:hover{
		color: var(--new-blue);
	}
	#referencia a img.img-1,
	#referencia a:hover img.img-2{
		display: inline-block;
	}
	#referencia a:hover img.img-1,
	#referencia a img.img-2{
		display: none;
	}

/* --- numeros --- */
	#numeros .img-fundo{
		margin-top: 50px;
		max-width: 1205px;
		margin-left: auto;
		margin-right: auto;

		background: url(../imagens/bg/bg-numero.jpg)no-repeat center center;
		background-size: cover;
		height: 480px;
	}

	#numeros .row.text-center{
		margin-top: 12%;
	}
	#numeros span{
		font-size: 64px;
	}
	#numeros p{
		font-size: 25px;
		line-height: 25px;
		margin-top: -10px;
		letter-spacing: .5px;
	}

/* --- exames --- */
	#exames .container2{
		margin-top: 50px;
		max-width: 1205px;
		margin-left: auto;
		margin-right: auto;

		background-color: #fff;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#exames h2{
		font-size: 42px;
	}
	#exames a.slide{
		max-width: 290px;
		width: 100%;
	}
	#exames a.slide .text-center{
		border: 1px solid #ccc;
		max-height: 170px;
		height: 100%;
		overflow-y: auto;
		color: var(--new-blue);
		transition: .3s;
	}
	#exames a.slide .text-center:hover{
		color: var(--new-green);
		transition: .3s;
	}
	#exames a.slide h5{
		font-size: 20px;
	}
	#exames a.slide p{
		margin-bottom: 30px;
	}
	#exames a.slide .text-center::-webkit-scrollbar{
		width: 5px;
	}
	#exames a.slide .text-center::-webkit-scrollbar-track {
	  background: #fff;
	}
	#exames a.slide .text-center::-webkit-scrollbar-thumb {
	  background: var(--new-blue);
	  border-radius: 10px;
	}

	#exames .slick-dots li{
		width: 20px;
		height: 10px;
		bottom: -20px;
	}
	#exames .slick-dots li button{
		width: 20px;
		height: 20px;
		padding: 4px;
		border-radius: 50%;
		border: 2px solid var(--new-blue);
	}
	#exames .slick-dots li button:before{
		color: transparent;
	}
	#exames .slick-dots li.slick-active button:before{
		background-color: var(--new-blue);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		opacity: 1;
	}
	#exames .btn-slick-carousel-left,
	#exames .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 40%;
		width: 30px;
	}
	#exames .btn-slick-carousel-left{
		left: -50px;
	}
	#exames .btn-slick-carousel-right{
		right: -50px;
	}

	#exames #referencia-profissionais{
		margin: 0 auto;
		padding-top: 40px;
		background-color: #fff;
		max-width: 1205px;
	}
	#exames #referencia-profissionais h2{
		margin-top: 80px;
		font-size: 60px;
		line-height: 60px;
		margin-left: 140px;
	}
	#exames #referencia-profissionais .imagem img{
		transform: scale(1.35);
		margin-left: -93px;
		margin-top: 20px;
	}
	
/* --- corpo medico --- */
	#corpo-medico .slider{
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	#corpo-medico {
		margin-top: 120px;
	}
	#corpo-medico h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	#corpo-medico .text-center p.font-regular{
		font-size: 20px;
		line-height: 25px;
		max-width: 590px;
		margin-bottom: 70px;
	}
	#corpo-medico .slide{
		border: 1px solid #b3b4b4;
		max-width: 535px;
		width: 100%;
		min-height: 295px;
		height: 100%;
	}
	#corpo-medico .slide img.profissional{
		height: 100%;
		object-fit: cover;
	}
	#corpo-medico .slide p.text-green{
		font-size: 16px;
		margin-top: 25px;
	}
	#corpo-medico .slide h5{
		font-size: 25px;
	}
	#corpo-medico .slide p.text-black{
		font-size: 14px;
		max-height: 140px;
		line-height: 20px;
		overflow-y: auto;
		padding-right: 10px;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar{
		width: 5px;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar-track {
	  background: #fff;
	}
	#corpo-medico .slide p.text-black::-webkit-scrollbar-thumb {
	  background: var(--new-blue);
	  border-radius: 10px;
	}
	#corpo-medico .slide span{
		font-size: 11px;
		text-decoration: underline;
	}
	
	#corpo-medico .btn-slick-carousel-left,
	#corpo-medico .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		bottom: -80px;
		width: 25px;
	}
	#corpo-medico .btn-slick-carousel-left{
		left: 45%;
	}
	#corpo-medico .btn-slick-carousel-right{
		right: 45%;
	}

	#corpo-medico .slick-dots li{
		display: none;
	}
	
/* --- estrutura --- */
	#estrutura{
		margin-top: 200px;
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}
	#estrutura .mx-auto h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	#estrutura .mx-auto p{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 50px;
	}
	#estrutura .titulo p{
		font-size: 25px;
		background-color: #f6f6f6;
		position: relative;
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	#estrutura .titulo div {
		width: 100%;
		height: 2px;
		background-color: var(--new-green);
		margin-top: -35px;
		margin-bottom: 40px;
	}
	#estrutura .slide{
	    position: relative;
	    overflow: hidden;
	}
	#estrutura .slide img{
		max-width: 330px;
		width: 100%;
		max-height: 320px;
		height: 100%;
		object-fit: cover;

		transition: .5s;
	}

	#estrutura .slide .wrapper div{
		background: rgba(159, 182, 36, 0.6);
		max-width: 330px;
		width: 100%;
		max-height: 320px;
		min-height: 320px;
		transition: .5s;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#estrutura .slider .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;
		transition: .5s;
	}

	#estrutura .slide .wrapper:hover div,
	#estrutura .slider a:hover .thumb-info{
		opacity: 1;	
	}

	.ekko-lightbox .modal-content {
	    border-radius: 0rem!important;
	}
	.ekko-lightbox .modal-body{
	    padding: .5rem!important;
	}

/* --- convenios --- */
	#convenios{
		margin-top: 80px;
	}
	#convenios .text-center h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	#convenios .text-center p{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 40px;
	}
	#convenios .d-md-block .row{
		max-width: 890px;
	}
	#convenios img{
		filter: grayscale(100%);
		transition: .5s;
		opacity: .6;
	}
	#convenios img:hover{
		filter: grayscale(0%);
		transition: .5s;
		opacity: 1;
	}

/* --- noticias --- */
	#noticias{
		margin-top: 50px;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}
	#noticias .text-center h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	#noticias .text-center p{
		font-size: 20px;
		line-height: 25px;
	}
	#noticias .slide{
		max-width: 360px;
		width: 100%;
	}
	#noticias .slide img{
		max-height: 278px;
		height: 100%;
		object-fit: cover;
	}
	#noticias .conteudo{
		padding: 10px 20px;
	}
	#noticias .conteudo h3{
		font-size: 25px;
		color: #484849;
		line-height: 28px;
		margin-bottom: 15px;
		transition: .5s;
	}
	#noticias .conteudo p.small{
		color: var(--new-blue);
		font-size: 14px;
		transition: .5s;
	}
	#noticias .conteudo p.link-saiba{
		font-size: 20px;
		color: var(--new-green);
		transition: .5s;
	}
	#noticias a:hover h3,
	#noticias a:hover p.small{
		color: var(--new-green);
		transition: .5s;
	}
	#noticias a:hover p.link-saiba{
		text-decoration: underline;
		transition: .5s;
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1024px) {
	/* --- carousel --- */
		#carousel .container .mr-auto{
			margin-left: 70px;
		}
		#carousel .container h1{
			line-height: 40px;
		}

	/* --- links -- */
		#links h3{
			font-size: 25px;
		}
		#links img.ver{
			max-width: 20px;
			margin-left: 10px;
		}

	/* --- referencia --- */
		#referencia h2{
			line-height: 35px;	
		}
		#referencia h2 span.font-light{
			font-size: 30px;
		}
		#referencia h2 span.font-bold{
			font-size: 35px;
		}
		#referencia p{
			font-size: 18px;
			line-height: 20px;
		}
		#referencia h3{
			font-size: 20px;
		}
		#referencia .col-6 p{
			font-size: 15px;
			line-height: 18px;
			padding-right: 10px;
		}

	/* --- numeros --- */
		#numeros .img-fundo{
			background: url(../imagens/bg/bg-numero.jpg)no-repeat right;
			background-size: cover;
		}

	/* --- exames --- */
		#exames a.slide{
			max-width: 250px;
		}
		#exames a.slide .text-center{
			border: 1px solid #ccc;
			min-height: 200px;
			height: 100%;
			overflow-y: auto;
			color: var(--new-blue);
			transition: .3s;
		}

		#exames #referencia-profissionais h2{
			font-size: 50px;
			line-height: 50px;
			margin-left: 50px;
		}
		#exames #referencia-profissionais .imagem img{
			transform: scale(1.30);
			margin-left: -60px;
			margin-top: 20px;
		}

	/* --- corpo medico --- */
		#corpo-medico .slide{
			max-width: 450px;
		}

	/* --- estrutura --- */
		#estrutura .slide img{
			max-width: 280px;
		}
		#estrutura .slide .wrapper div{
			max-width: 280px;
			max-height: 320px;
			min-height: 320px;
		}
		#estrutura .slider .thumb-info{
			top: 40%;
		}

	/* --- noticias --- */
		#noticias .slide{
			max-width: 270px;
			width: 100%;
		}		
}

@media screen and (max-width: 768px) {
	/* --- carousel --- */
		#carousel .banner-01,
		#carousel .banner-02,
		#carousel .banner-03{
			min-height: 462px;
		    background-position: 80%;
		}
		#carousel .container .mr-auto{
			margin-left: 50px;
		}
		#carousel .container p.text-green{
			font-size: 12px;
			line-height: 15px;
		}
		#carousel .container h1{
			line-height: 25px;
			letter-spacing: 1px;
		}
		#carousel .container h1 span.font-light{
			font-size: 28.65px;
		}
		#carousel .container h1 span.font-bold{
			font-size: 31.33px;
		}
		#carousel .container p.small{
			font-size: 13px;
		}
		#carousel .container a{
			width: 215px;
			height: 40px;
			font-size: 13px;
			padding-top: 10px;
		}

	/* --- links -- */
		#links{
			margin-top: -50px;
		}
		#links a{
			min-height: 209px;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		#links img.logo-1,
		#links img.logo-2{
			margin-bottom: 20px;
			max-width: 60px;
		}
		#links h3{
			font-size: 17.50px;
		}
		#links img.ver{
			max-width: 18px;
			margin-top: -5px;
			margin-left: 15px;
		}
		#links p{
			font-size: 12px;
		}

	/* --- referencia --- */
		#referencia{
			margin-top: 35px;
		}
		#referencia img.olhos{
			width: 100%;
			height: 412px;
			object-fit: cover;
		}
		#referencia p.text-green{
			font-size: 11px;
			margin-bottom: 3px;
		}
		#referencia h2{
			line-height: 25px;	
		}
		#referencia h2 span.font-light{
			font-size: 24px;
		}
		#referencia h2 span.font-bold{
			font-size: 27px;
		}
		#referencia p{
			font-size: 13px;
			line-height: 18px;
		}
		#referencia h3{
			font-size: 16px;
		}
		#referencia .col-6 p{
			font-size: 11px;
			line-height: 12px;
			padding-right: 0px;
		}
		#referencia a{
			font-size: 15px;
		}
		#referencia a img.img-1{
			max-width: 18px;
			margin-top: -3px;
		}

	/* --- numeros --- */
		#numeros .px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#numeros .img-fundo{
			margin-top: 35px;
			height: 336px;
		}

		#numeros span{
			font-size: 44px;
		}
		#numeros p{
			font-size: 17px;
			line-height: 20px;
		}

	/* --- exames --- */
		#exames.px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#exames .container-fluid{
			margin-top: 0px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		#exames h2{
			font-size: 29px;
		}
		#exames a.slide{
			max-width: 200px;
		}
		#exames a.slide .text-center{
			max-height: 170px;
		    min-height: 130px;
			height: 100%;
		}
		#exames a.slide h5{
			font-size: 16px;
		}
		#exames a.slide p{
			font-size: 11px;
			margin-bottom: 20px;
		}

		#exames .slick-dots li{
			width: 10px;
			bottom: -10px;
		}
		#exames .slick-dots li button{
			width: 14px;
			height: 14px;
			padding: 3px;
		}
		#exames .slick-dots li.slick-active button:before{
			width: 14px;
			height: 14px;
		}
		#exames .btn-slick-carousel-left,
		#exames .btn-slick-carousel-right{
			top: 36%;
			width: 20px;
		}
		#exames .btn-slick-carousel-left{
			left: -30px;
		}
		#exames .btn-slick-carousel-right{
			right: -30px;
		}

		#exames #referencia-profissionais{
			margin: 0 auto;
			padding-top: 40px;
		}
		#exames #referencia-profissionais h2{
			margin-top: 60px;
			font-size: 40px;
			line-height: 40px;
			margin-left: 30px;
		}
		#exames #referencia-profissionais .imagem img{
			transform: scale(1.45);
			margin-left: -100px;
			margin-top: 30px;
		}
		
	/* --- corpo medico --- */
		#corpo-medico {
			margin-top: 110px;
		}
		#corpo-medico {
			margin-top: 110px;
		}
		#corpo-medico h2{
			font-size: 29px;
			letter-spacing: .5px;
		}
		#corpo-medico .text-center p.font-regular{
			font-size: 14px;
			line-height: 18px;
		}
		#corpo-medico .slide{
			max-width: 350px;
			min-height: auto;
			height: 100%;
		}
		#corpo-medico .slide img.profissional{
			max-height: 230px;
			height: 100%;
		}
		#corpo-medico .slide p.text-green{
			font-size: 12px;
			margin-top: 20px;
		}
		#corpo-medico .slide h5{
			font-size: 17px;
		}
		#corpo-medico .slide p.text-black{
			font-size: 11px;
			max-height: 110px;
			line-height: 12px;
			padding-right: 5px;
		}
		#corpo-medico .slide span{
			font-size: 9px;
		}
		#corpo-medico .slide span img{
			max-width: 12px;
		}
		
		#corpo-medico .btn-slick-carousel-left,
		#corpo-medico .btn-slick-carousel-right{
			bottom: -60px;
			width: 18px;
		}
		#corpo-medico .btn-slick-carousel-left{
			left: 45%;
		}
		#corpo-medico .btn-slick-carousel-right{
			right: 45%;
		}

		#corpo-medico .slick-dots li{
			display: none;
		}
		
	/* --- estrutura --- */
		#estrutura{
			margin-top: 120px;
		}
		#estrutura .mx-auto h2{
			font-size: 29px;
			letter-spacing: .5px;
		}
		#estrutura .mx-auto p{
			font-size: 14px;
			line-height: 18px;
		}
		#estrutura .titulo p{
			font-size: 17px;
			padding-right: 10px;
		}
		
		#estrutura .titulo div {
			margin-top: -30px;
			margin-bottom: 30px;
		}
		#estrutura .slide img{
			max-width: 218px;
			max-height: 220px;
		}

		#estrutura .slide .wrapper div{
			max-width: 218px;
			max-height: 220px;
			min-height: 220px;
		}
		#estrutura .slider .thumb-info{
			top: 50%;
		}

	/* --- convenios --- */
		#convenios{
			margin-top: 50px;
		}
		#convenios .text-center h2{
			font-size: 29px;
			letter-spacing: .5px;
			margin-bottom: 10px;
		}
		#convenios .text-center p{
			font-size: 14px;
			line-height: 18px;
		}

	/* --- noticias --- */
		#noticias{
			margin-top: 50px;
		}
		#noticias .text-center h2{
			font-size: 29px;
			letter-spacing: .5px;
			margin-bottom: 20px;
		}
		#noticias .text-center p{
			font-size: 14px;
			line-height: 18px;
		}
		#noticias .slide{
			max-width: 224px;
			width: 100%;
		}
		#noticias .slide img{
			max-height: 172px;
		}
		#noticias .conteudo{
			padding: 10px 15px;
		}
		#noticias .conteudo h3{
			font-size: 15px;
			line-height: 16px;
			margin-bottom: 10px;
		}
		#noticias .conteudo p.small{
			font-size: 11px;
			margin-bottom: 10px;
		}
		#noticias .conteudo p.link-saiba{
			font-size: 12px;
		}
		#noticias .conteudo p.link-saiba img{
			max-width: 14px;
			max-height: 14px;
		}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
		#carousel .banner-01,
		#carousel .banner-02,
		#carousel .banner-03{
			min-height: 230px;
		}
		#carousel .container .mr-auto{
			margin-left: 25px;
			padding-right: 10px!important;
		}
		#carousel .container p.text-green{
			font-size: 9px;
			line-height: 10px;
			margin-bottom: 0;
			letter-spacing: 1px;
		}
		#carousel .container h1{
			line-height: 8px;
			letter-spacing: 1px;
			margin-bottom: 15px;
		}
		#carousel .container h1 span.font-light{
			font-size: 14px;
		}
		#carousel .container h1 span.font-bold{
			font-size: 17px;
		}
		#carousel .container p.small{
			font-size: 11px;
			line-height: 10px;
			margin-bottom: 10px;
			letter-spacing: .5px;
		}
		#carousel .container a{
			width: 118px;
			height: 22px;
			font-size: 8px;
			padding-top: 4px;
		}

	/* --- links -- */
		#links{
			margin-top: -20px;
		}
		#links .px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#links a{
			min-height: 210px;
			padding-top: 30px;
			padding-left: 60px;
			padding-right: 60px;
		}
		#links img.logo-1,
		#links img.logo-2{
			margin-bottom: 20px;
			max-width: 60px;
		}
		#links h3{
			font-size: 17px;
		}
		#links img.ver{
			max-width: 15px;
			margin-top: -5px;
			margin-left: 15px;
		}
		#links p{
			font-size: 12px;
		}

	/* --- referencia --- */
		#referencia{
			margin-top: 20px;
		}
		#referencia .px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#referencia img.olhos{
			width: 100%;
			height: 215px;
			object-fit: cover;
		}
		#referencia p.text-green{
			font-size: 10px;
			margin-bottom: 0px;
		}
		#referencia h2{
			line-height: 16px;	
		}
		#referencia h2 span.font-light{
			font-size: 21px;
		}
		#referencia h2 span.font-bold{
			font-size: 22px;
		}
		#referencia p{
			font-size: 12px;
			line-height: 14px;
		}
		#referencia h3{
			font-size: 13px;
			margin-bottom: 5px;
		}
		#referencia .col-6 p{
			font-size: 10px;
			line-height: 12px;
			padding-right: 0px;
		}
		#referencia a{
			font-size: 14px;
		}
		#referencia a img.img-1{
			max-width: 16px;
			margin-top: -3px;
		}

	/* --- numeros --- */
		#numeros .px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#numeros .img-fundo{
			margin-top: 35px;
			background: none;
			min-height: 336px;
			height: 100%;
		}
		#numeros img{
			width: 100%;
			height: 270px;
			object-fit: cover;
			object-position: right;
		}
		#numeros .row.text-center{
			margin-top: 1%;
		}
		#numeros span{
			font-size: 35px;
		}
		#numeros p{
			font-size: 13px;
			line-height: 14px;
			margin-top: -5px;
		}

	/* --- exames --- */
		#exames.px-35{
			padding-left: 0;
			padding-right: 0;
		}
		#exames .container-fluid{
			margin-top: 0px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		#exames h2{
			font-size: 22px;
			margin-bottom: 15px;
		}
		#exames a.slide{
			max-width: 200px;
			margin-left: 15px!important; 
			margin-right: 15px!important; 
		}
		#exames a.slide .text-center{
			max-height: 170px;
		    min-height: 170px;
			height: 100%;
		}
		#exames a.slide h5{
			font-size: 16px;
		}
		#exames a.slide p{
			font-size: 11px;
			margin-bottom: 20px;
		}

		#exames .slick-dots li{
			width: 8px;
			bottom: -10px;
		}
		#exames .slick-dots li button{
			width: 11px;
			height: 11px;
			padding: 3px;
		}
		#exames .slick-dots li.slick-active button:before{
			width: 11px;
			height: 11px;
		}
		#exames .btn-slick-carousel-left,
		#exames .btn-slick-carousel-right{
			top: 36%;
			width: 20px;
		}
		#exames .btn-slick-carousel-left{
			left: -30px;
		}
		#exames .btn-slick-carousel-right{
			right: -30px;
		}

		#exames #referencia-profissionais{
			margin: 0 auto;
			padding-top: 10px;
		}
		#exames #referencia-profissionais h2{
			margin-top: 80px;
			font-size: 25px;
			line-height: 25px;
			margin-left: 20px;
			z-index: 999;
			position: relative;
			margin-right: -40px;
		}
		#exames #referencia-profissionais .imagem img{
			margin-left: 2px;
			margin-top: 30px;
			position: relative;
			width: 80%;
			height: 210px;
			object-fit: cover;
		}
		
	/* --- corpo medico --- */
		#corpo-medico {
			margin-top: 90px;
		}
		#corpo-medico h2{
			font-size: 22px;
		}
		#corpo-medico .text-center p.font-regular{
			font-size: 12px;
			line-height: 16px;
		}
		#corpo-medico .slide{
			max-width: 230px;
			min-height: auto;
			height: 100%;
			margin-left: 15px!important; 
			margin-right: 15px!important; 
		}
		#corpo-medico .slide img.profissional{
			width: 100%;
			max-height: 210px;
			height: 100%;
		}
		#corpo-medico .slide .sm-descricao{
			padding-left: 30px;
			padding-right: 30px;
			height: 230px;
		}
		#corpo-medico .slide p.text-green{
			font-size: 12px;
			margin-top: 20px;
		}
		#corpo-medico .slide h5{
			font-size: 18px;
		}
		#corpo-medico .slide p.text-black{
			font-size: 11px;
			height: 130px;
			line-height: 12px;
			padding-right: 5px;
			margin-bottom: 10px;
		}
		#corpo-medico .slide span{
			font-size: 9px;
		}
		#corpo-medico .slide span img{
			max-width: 12px;
		}

		#corpo-medico .slick-dots li{
			display: inline-block;
			width: 10px;
			height: 10px;
			bottom: -20px;
		}
		#corpo-medico .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#corpo-medico .slick-dots li button:before{
			color: transparent;
		}
		#corpo-medico .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}
		
	/* --- estrutura --- */
		#estrutura{
			margin-top: 80px;
		}
		#estrutura .mx-auto h2{
			font-size: 22px;
			letter-spacing: .5px;
		}
		#estrutura .mx-auto p{
			font-size: 12px;
			line-height: 16px;
		}
		#estrutura .titulo p{
			font-size: 14px;
			padding-right: 10px;
		}
		
		#estrutura .titulo div {
			margin-top: -28px;
			margin-bottom: 30px;
		}
		#estrutura .slide{
		    margin-left: 15px!important; 
		    margin-right: 15px!important; 
		}
		#estrutura .slide img{
			max-width: 220px;
			max-height: 220px;
		}

		#estrutura .slide .wrapper div{
			max-width: 220px;
			max-height: 220px;
			min-height: 220px;
		}
		#estrutura .slider .thumb-info{
			font-size: 10px;
			top: 50%;
		}

		#estrutura .slick-dots li{
			width: 10px;
			height: 10px;
			bottom: 10px;
		}
		#estrutura .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#estrutura .slick-dots li button:before{
			color: transparent;
		}
		#estrutura .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}

	/* --- convenios --- */
		#convenios{
			margin-top: 80px;
		}
		#convenios .text-center h2{
			font-size: 22px;
		}
		#convenios .text-center p{
			font-size: 12px;
			line-height: 16px;
		}

		#convenios .slick-dots li{
			width: 10px;
			height: 10px;
			bottom: 10px;
		}
		#convenios .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#convenios .slick-dots li button:before{
			color: transparent;
		}
		#convenios .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}
		
	/* --- noticias --- */
		#noticias{
			margin-top: 80px;
			margin-bottom: 50px;
		}
		#noticias .text-center h2{
			font-size: 22px;
			margin-bottom: 10px;
		}
		#noticias .text-center p{
			font-size: 12px;
			line-height: 16px;
		}
		#noticias .slide{
			max-width: 224px;
			margin-left: 15px!important; 
			margin-right: 15px!important; 
		}
		#noticias .slide img{
			max-height: 172px;
		}
		#noticias .conteudo{
			padding: 10px 15px;
		}
		#noticias .conteudo h3{
			font-size: 15px;
		}
		#noticias .conteudo p.small{
			font-size: 11px;
		}
		#noticias .conteudo p.link-saiba{
			font-size: 12px;
		}

		#noticias .slick-dots li{
			width: 10px;
			height: 10px;
			bottom: 10px;
		}
		#noticias .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#noticias .slick-dots li button:before{
			color: transparent;
		}
		#noticias .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}
}