
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banners-hosa.jpg)no-repeat center center;
		background-size: cover;
		height: 460px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;
	}

/* --- conteudo --- */
	#conteudo .container-fluid p{
		max-width: 990px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		font-size: 18px;
	}
	#conteudo .largura{
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
	}
	#conteudo h2{
		font-size: 42px;
		margin-top: 75px;
		margin-bottom: 75px;
	}
	#conteudo hr{
		background-color: var(--new-green);
		height: 1px;
		margin-top: 60px;
	}
	#conteudo .bolinha-1,
	#conteudo .bolinha-2{
		width: 10px;
		height: 10px;
		background-color: var(--new-green);
		border-radius: 50%;
		position: absolute;
	}
	#conteudo .bolinha-1{
		margin-top: 56px;
		left: 10px;
	}
	#conteudo .bolinha-2{
		margin-top: -23px;
		right: 10px;
	}
	#conteudo .customer-tragetoria{
		transition: .5s;
		margin-top: -90px;
		height: 280px;
	}
	#conteudo .slick-list,
	#conteudo .slick-slide{
		transition: .5s;
	}
	#conteudo .slide{
		max-width: 250px;
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		transition: .5s;
	}
	#conteudo .slide .ano{
		font-size: 40px;
		font-family: "Montserrat Bold";
		background-color: #f6f6f6;
		padding-left: 10px;
		padding-right: 10px;
		transition: .5s;
	}
		
	#conteudo .slick-slide .ano{
		color: rgba(168, 187, 65, 0.36);
		transition: .5s;
	}
	#conteudo .slick-center .ano{
		color: var(--new-blue);
		transition: .5s;
	}
	#conteudo .slick-slide .mostrar{
		opacity: 0;
		transition: .5s;
	}
	#conteudo .slick-center .mostrar{
		opacity: 1;
		transition: .5s;
	}
	#conteudo .mostrar h5{
		font-size: 25;
		margin-bottom: 10;
		color: #4c4c4c;
		transition: .5s;
	}
	#conteudo .mostrar p{
		font-size: 17px;
		margin-top: 0;
		color: #4c4c4c;
		transition: .5s;

		max-height: 140px;
		overflow-y: auto;
		padding-right: 10px;
	}
	#conteudo .mostrar p::-webkit-scrollbar{
		width: 6px;
	}
	#conteudo .mostrar p::-webkit-scrollbar-track {
	  background: #fff;
	}
	#conteudo .mostrar p::-webkit-scrollbar-thumb {
	  background: var(--new-green);
	  border-radius: 10px;
	}

	#conteudo .slick-center .slide{
		margin-top: -50px;
		transition: .5s;
	}
	#conteudo .slick-center .mostrar h5{
		margin-top: 20px;
		transition: .5s;
	}
	#conteudo .slick-center .barra{
		border: 1px solid var(--new-green);
		height: 55px;
		width: 1px;
		margin-top: -4px;
		margin-left: auto;
		margin-right: auto;
		transition: .5s;
	}
	#conteudo .slick-center .bolinha{
		width: 22px;
		height: 22px;
		background-color: var(--new-green);
		border: 4px solid #f6f6f6;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -39px;
		transition: .5s;
	}
	
	#conteudo .btn-slick-carousel-left,
	#conteudo .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		bottom: 40px;
		max-width: 24px; 
	}
	#conteudo .btn-slick-carousel-left{
		left: 88%;
	}
	#conteudo .btn-slick-carousel-right{
		right: 0%;
	}

/* --- missão --- */
	#missao .bg-white{
		margin-top: 40px;
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	#missao .row{
		padding-left: 40px;
		padding-right: 40px;
	}
	#missao .col-12{
		padding: 80px 40px;
	}
	#missao h2{
		font-size: 32px;
		letter-spacing: 1px;
	}
	#missao hr{
		height: 2px;
	}
	#missao p{
		font-size: 17px;
		text-align: justify;
	}
	
/* --- nossa equipe --- */
	#nossa-equipe{
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	#nossa-equipe {
		margin-top: 80px;
	}
	#nossa-equipe h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	#nossa-equipe .text-center p.font-regular{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 50px;
		display: block;
	}
	
	#nossa-equipe .slide img{
		max-width: 280px;
		width: 100%;
		max-height: 265px;
		height: 100%;
		object-fit: cover;
	}
	#nossa-equipe .slide{
		position: relative;
	}
	#nossa-equipe .slide a:after{
	    position: absolute;
	    background: rgba(50, 73, 149, 0.75);
	    content: "";
	    max-width: 280px;
		max-height: 265px;
	    top: 0px; bottom: 0px; left: 0px; right: 0px;
	    opacity: 1;
	    transition: .5s;
	}
	#nossa-equipe .slide a:hover:after{
	    background: rgba(159, 182, 36, 0.6);
	}
	#nossa-equipe .slide p{
		font-size: 22px;
		position: relative;
		display: block;
		top: -60px;
		z-index: 1;
	}
	#nossa-equipe .btn-slick-carousel-left,
	#nossa-equipe .btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		bottom: -50px;
		width: 25px;
	}
	#nossa-equipe .btn-slick-carousel-left{
		left: 91%;
	}
	#nossa-equipe .btn-slick-carousel-right{
		right: 2%;
	}

	/* --- modal --- */
	#modal_equipe .modal-content{
		min-width: 850px;
		max-height: 662px;
		border: 8px solid  #fff;
		border-bottom: 55px solid #fff;
	}
	#modal_equipe .modal-content .fechar{
		position: absolute;
		margin-top: 20px;
		right: 20px;
		z-index: 1;
		display: inline-block;
		border: 2px solid #fff;
		border-radius: 50%;
		padding: 0px 7px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
	}
	#modal_equipe .modal-body{
		max-height: 520px;

		background: url(../imagens/img-corpo-medico-03.jpg)no-repeat center center;
		background-size: cover;
	}
	#modal_equipe .conteudo{
		margin: 70px 30px 30px 0;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 8px;
		padding: 30px;
	}
	#modal_equipe .text-center h2{
		font-size: 25px;
	}
	#modal_equipe .text-center p{
		font-size: 13px;
	}
	#modal_equipe p.font-regular{
		font-size: 12px;
		line-height: 20px;
		text-align: justify;
	}

	#modal_equipe .carousel-control-prev,
	#modal_equipe .carousel-control-next{
		top: initial;
		bottom: -40px;
		width: 40px;
	}
	#modal_equipe .carousel-control-prev{
		left: 43%;
	}
	#modal_equipe .carousel-control-next{
		right: 43%;
	}
	#modal_equipe .carousel-control-prev span,
	#modal_equipe .carousel-control-next span{
		color: #000;
		transform: scale(1.8);
	}
	
/* --- estrutura --- */
	#estrutura{
		margin-top: 100px;
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}
	#estrutura .mx-auto h2{
		font-size: 42px;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	#estrutura .mx-auto p{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 50px;
	}
	#estrutura .titulo p{
		font-size: 25px;
		background-color: #f6f6f6;
		position: relative;
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	#estrutura .titulo div {
		width: 100%;
		height: 2px;
		background-color: var(--new-green);
		margin-top: -35px;
		margin-bottom: 40px;
	}
	#estrutura .slide{
	    position: relative;
	    overflow: hidden;
	}
	#estrutura .slide img{
		max-width: 330px;
		width: 100%;
		max-height: 320px;
		height: 100%;
		object-fit: cover;

		transition: .5s;
	}

	#estrutura .slide .wrapper div{
		background: rgba(159, 182, 36, 0.6);
		max-width: 330px;
		width: 100%;
		max-height: 320px;
		min-height: 320px;
		transition: .5s;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#estrutura .slider .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;
		transition: .5s;
	}

	#estrutura .slide .wrapper:hover div,
	#estrutura .slider a:hover .thumb-info{
		opacity: 1;	
	}

/* --- especialidades --- */
	#especialidades{
		background: url(../imagens/bg/bg-olhos-especialidades.jpg)no-repeat center center;
		background-size: cover;
		height: 375px;
		margin-top: 100px;
	}
	#especialidades h2{
		font-size: 46px;
		line-height: 45px;
		padding-top: 50px;
	}
	#especialidades a.btn{
		margin-top: 50px;
		width: 198px;
		height: 50px;
		color: #fff;
		background-color: var(--new-blue);
		transition: .5s;
		padding-top: 14px;
	}
	#especialidades a.btn:hover{
		color: var(--new-blue);
		background-color: transparent;
		border: 1px solid var(--new-blue);
		transition: .5s;	
	}

@media screen and (max-width: 1024px) {
	/* --- conteudo --- */
		#conteudo .slide{
			max-width: 200px;
		}
		#conteudo .slide .ano{
			font-size: 40px;
		}
		#conteudo .mostrar h5{
			/*font-size: 25;*/
		}
		#conteudo .mostrar p{
			font-size: 15px;
		}
	
		#conteudo .btn-slick-carousel-left,
		#conteudo .btn-slick-carousel-right{
			position: absolute;
			z-index: 1000;
			bottom: 40px;
			max-width: 20px; 
		}
		#conteudo .btn-slick-carousel-left{
			left: 88%;
		}
		#conteudo .btn-slick-carousel-right{
			right: 0%;
		}
	
	/* --- missão --- */
		#missao .row{
			padding-left: 10px;
			padding-right: 10px;
		}
		#missao .col-12{
			padding: 60px 30px;
		}

	/* --- estrutura --- */
		#estrutura .slide img{
			max-width: 280px;
		}
		#estrutura .slide .wrapper div{
			max-width: 280px;
			max-height: 320px;
			min-height: 320px;
		}
		#estrutura .slider .thumb-info{
			top: 40%;
		}
}

@media screen and (max-width: 768px) {
	/* --- banner --- */
		#banner{
			height: 410px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- conteudo --- */
		#conteudo .container-fluid p{
			margin-top: 50px;
			font-size: 14px;
		}
		#conteudo h2{
			font-size: 29px;
			margin-top: 50px;
			margin-bottom: 70px;
		}
		#conteudo .slide{
			max-width: 160px;
			padding-top: 50px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#conteudo .slide .ano{
			font-size: 29px;
			padding-left: 10px;
			padding-right: 10px;
		}
		#conteudo .mostrar h5{
			font-size: 17px;
			margin-bottom: 10;
		}
		#conteudo .mostrar p{
			font-size: 14px;
			margin-top: 0;

			max-height: 140px;
		}

		#conteudo .slick-center .slide{
			margin-top: -43px;
		}
		#conteudo .slick-center .bolinha{
			width: 20px;
			height: 20px;
			border: 4px solid #f6f6f6;
			margin-top: -38px;
		}
		
		#conteudo .btn-slick-carousel-left,
		#conteudo .btn-slick-carousel-right{
			max-width: 18px; 
		}
		#conteudo .btn-slick-carousel-left{
			left: 85%;
		}
		#conteudo .btn-slick-carousel-right{
			right: 0%;
		}
		
	/* --- missão --- */
		#missao{
			margin-top: 40px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#missao .row{
			padding-left: 0px;
			padding-right: 0px;
		}
		#missao .col-12{
			padding: 80px 20px;
		}
		#missao img{
			max-width: 70px;
		}
		#missao h2{
			font-size: 28px;
		}
		#missao p{
			font-size: 14px;
		}

	/* --- nossa equipe --- */
		#nossa-equipe {
			margin-top: 50px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#nossa-equipe h2{
			font-size: 29px;
			letter-spacing: .5px;
		}
		#nossa-equipe .text-center p.font-regular{
			font-size: 14px;
			line-height: 18px;
		}
		#nossa-equipe .slide{
			max-width: 300px;
			min-height: auto;
			height: 100%;
		}
		#nossa-equipe .slide img{
			max-width: 240px;
			max-height: 230px;
			object-fit: cover;
		}
		#nossa-equipe .slide a:after{
		    max-width: 240px;
			max-height: 230px;
		    top: 0px; bottom: 0px; left: 0px; right: 0px;
		}
		#nossa-equipe .slide p{
			font-size: 18px;
			top: -50px;
		}
		
		#nossa-equipe .btn-slick-carousel-left,
		#nossa-equipe .btn-slick-carousel-right{
			bottom: -20px;
			width: 18px;
		}
		#nossa-equipe .btn-slick-carousel-left{
			left: 45%;
		}
		#nossa-equipe .btn-slick-carousel-right{
			right: 45%;
		}

		/* --- modal --- */
		#modal_equipe .modal-content{
			min-width: initial;
			max-height: initial;
			background: url(../imagens/img-corpo-medico-03.jpg)no-repeat top left;
			background-size: cover;
		}
		#modal_equipe .modal-content .fechar{
			margin-top: 10px;
			margin-right: 10px;
		}
		#modal_equipe .foto{
			padding-top: 200px;
		}
		#modal_equipe .conteudo{
			margin: 0px 0px 0px 0;
		}
		#modal_equipe .text-center h2{
			font-size: 20px;
		}
		#modal_equipe .text-center p{
			font-size: 13px;
		}
		#modal_equipe p.font-regular{
			font-size: 12px;
			line-height: 20px;

			max-height: 200px;
			overflow-y: auto;
			padding-right: 10px;
		}
		#modal_equipe p.font-regular::-webkit-scrollbar{
			width: 6px;
		}
		#modal_equipe p.font-regular::-webkit-scrollbar-track {
		  background: #fff;
		}
		#modal_equipe p.font-regular::-webkit-scrollbar-thumb {
		  background: var(--new-green);
		  border-radius: 10px;
		}

		#modal_equipe .modal-content {
		    border-bottom: 50px solid #fff;
		}
		#modal_equipe .carousel-control-prev{
			left: 38%;
		}
		#modal_equipe .carousel-control-next{
			right: 38%;
		}
		
	/* --- estrutura --- */
		#estrutura{
			margin-top: 120px;
		}
		#estrutura .mx-auto h2{
			font-size: 29px;
			letter-spacing: .5px;
		}
		#estrutura .mx-auto p{
			font-size: 14px;
			line-height: 18px;
		}
		#estrutura .titulo p{
			font-size: 17px;
			padding-right: 10px;
		}
		
		#estrutura .titulo div {
			margin-top: -30px;
			margin-bottom: 30px;
		}
		#estrutura .slide img{
			max-width: 218px;
			max-height: 220px;
		}

		#estrutura .slide .wrapper div{
			max-width: 218px;
			max-height: 220px;
			min-height: 220px;
		}
		#estrutura .slider .thumb-info{
			top: 50%;
		}

	/* --- especialidades --- */
		#especialidades .container{
			padding-left: 20px;
		}
		#especialidades{
			height: 260px;
		}
		#especialidades h2{
			font-size: 32px;
			line-height: 30px;
			padding-top: 50px;
		}
		#especialidades a.btn{
			font-size: 10px;
			margin-top: 20px;
			width: 110px;
			height: 30px;
			padding-top: 7px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}

	/* --- conteudo --- */
		#conteudo .container-fluid p{
			margin-top: 20px;
			font-size: 12px;
			padding-left: 20px;
			padding-right: 20px;
		}
		#conteudo h2{
			font-size: 22px;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		#conteudo img.logo-cosa{
			display: block;
			margin: auto;
			margin-bottom: 40px;
			max-width: 250px;
		}
		
		#conteudo .slide{
			max-width: 120px;
			padding-top: 56px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#conteudo .slide .ano{
			font-size: 20px;
			padding-left: 5px;
			padding-right: 5px;
		}
		#conteudo .mostrar h5{
			font-size: 15px;
			margin-bottom: 10;
		}
		#conteudo .mostrar p{
			font-size: 11.5px;
			margin-top: 0;

			max-height: 130px;
		}

		#conteudo .slick-center .slide{
			margin-top: -35px;
		}
		#conteudo .slick-center .bolinha{
			width: 18px;
			height: 18px;
		}
		
		#conteudo .btn-slick-carousel-left,
		#conteudo .btn-slick-carousel-right{
			bottom: -20px;
			max-width: 18px; 
		}
		#conteudo .btn-slick-carousel-left{
			left: 40%;
		}
		#conteudo .btn-slick-carousel-right{
			right: 40%;
		}
		
	/* --- missão --- */
		#missao{
			margin-top: 60px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#missao .row{
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		#missao .col-12{
			padding: 20px 60px;
		}
		#missao img{
			max-width: 60px;
		}
		#missao h2{
			font-size: 22px;
		}
		#missao p{
			font-size: 12px;
		}
		
	/* --- nossa equipe --- */
		#nossa-equipe {
			margin-top: 30px;
		}
		#nossa-equipe h2{
			font-size: 22px;
			margin-bottom: 10px;
		}
		#nossa-equipe .text-center p.font-regular{
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 30px;
		}

		#nossa-equipe .slide{
			max-width: 170px;
			min-height: auto;
			height: 100%;
			margin-left: 15px!important; 
			margin-right: 15px!important; 

			display: block!important;
			margin: 0 auto;
		}
		#nossa-equipe .slide img{
			max-width: 180px;
			max-height: 170px;
			object-fit: cover;
		}
		#nossa-equipe .slide a:after{
		    max-width: 180px;
			max-height: 170px;
		}
		#nossa-equipe .slide p{
			font-size: 14px;
			top: -40px;
		}

		#nossa-equipe .slick-dots li{
			display: inline-block;
			width: 10px;
			height: 10px;
			bottom: 10px;
		}
		#nossa-equipe .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#nossa-equipe .slick-dots li button:before{
			color: transparent;
		}
		#nossa-equipe .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}

		/* --- modal --- */
		#modal_equipe .modal-content{
			min-width: initial;
			max-height: initial;
			background: url(../imagens/img-corpo-medico-03.jpg)no-repeat top left;
			background-size: cover;
		}
		#modal_equipe .modal-content .fechar{
			margin-top: 10px;
			margin-right: 10px;
		}
		#modal_equipe .foto{
			padding-top: 150px;
		}
		#modal_equipe .conteudo{
			margin: 0px 0px 0px 0;
		}
		#modal_equipe .text-center h2{
			font-size: 18px;
		}
		#modal_equipe .text-center p{
			font-size: 12px;
		}
		#modal_equipe p.font-regular{
			font-size: 11px;
			line-height: 18px;

			max-height: 180px;
			padding-right: 12px;
		}
		
	/* --- estrutura --- */
		#estrutura{
			margin-top: 80px;
		}
		#estrutura .mx-auto h2{
			font-size: 22px;
			letter-spacing: .5px;
		}
		#estrutura .mx-auto p{
			font-size: 12px;
			line-height: 16px;
		}
		#estrutura .titulo p{
			font-size: 14px;
			padding-right: 10px;
		}
		
		#estrutura .titulo div {
			margin-top: -28px;
			margin-bottom: 30px;
		}
		#estrutura .slide{
		    margin-left: 15px!important; 
		    margin-right: 15px!important; 
		}
		#estrutura .slide img{
			max-width: 220px;
			max-height: 220px;
		}

		#estrutura .slide .wrapper div{
			max-width: 220px;
			max-height: 220px;
			min-height: 220px;
		}
		#estrutura .slider .thumb-info{
			font-size: 10px;
			top: 50%;
		}

		#estrutura .slick-dots li{
			width: 10px;
			height: 10px;
			bottom: 10px;
		}
		#estrutura .slick-dots li button{
			width: 12px;
			height: 12px;
			padding: 4px;
			border-radius: 50%;
			border: 2px solid var(--new-blue);
		}
		#estrutura .slick-dots li button:before{
			color: transparent;
		}
		#estrutura .slick-dots li.slick-active button:before{
			background-color: var(--new-blue);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			opacity: 1;
		}
	
	/* --- especialidades --- */
		#especialidades .container{
			padding-left: 10px;
		}
		#especialidades{
			background: url(../imagens/bg/bg-olhos-especialidades.jpg)no-repeat 80%;
			height: 240px;
		}
		#especialidades h2{
			font-size: 23px;
			line-height: 24px;
			padding-top: 70px;
		}
		#especialidades a.btn{
			font-size: 10px;
			margin-top: 10px;
			width: 110px;
			height: 30px;
			padding-top: 7px;
		}
}
