
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-noticias.jpg)no-repeat center center;
		background-size: cover;
		height: 465px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;
	}
	
/* --- conteudo / artigos --- */
	#conteudo{
		max-width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
	#conteudo #artigos{
		max-width: 775px;
	}
	#conteudo aside{
		max-width: 240px;
		margin-left: auto;
		margin-top: 90px;
	}

	#conteudo article.artigo .clearfix p{
		font-size: 16px;
		margin-left: 10px;
	}
	#conteudo article h1.font-bold{
		font-size: 35px;
		letter-spacing: 1.8px;
		margin-left: 10px;
	}
	#conteudo article img.w-100{
		max-height: 480px;
		object-fit: cover;
	}
	#conteudo article p.text-justify{
		font-size: 15px;
	}
	#conteudo article h2.font-regular{
		font-size: 24px;
	}
	#conteudo article .redes img{
		transition: .5s;
	}
	#conteudo article .redes img:hover{
		transform: scale(1.2);
		transition: .5s;	
	}
	#conteudo article.comentarios-2 p.float-left{
		font-size: 17px;
	}
	#conteudo article.comentarios-2 .media h5{
		font-size: 15px;
	}
	#conteudo article.comentarios-2 .form-group textarea{
		background: transparent;
	}
	#conteudo article.comentarios-2 .form-group textarea::placeholder{
		font-size: 14px;
		font-family: "Roboto Regular";
	}
	#conteudo article.comentarios-2 a.btn{
		background-color: var(--new-green);
		color: #fff;
		font-size: 16px;
		width: 200px;
		height: 50px;
		border-radius: 10px;
		padding-top: 14px;
	}
	#conteudo article.comentarios-2 a.btn:hover{
		background-color: transparent;
		color: var(--new-green);
		border: 2px solid var(--new-green);
		padding-top: 13px;
	}

	#conteudo .mais-artigos .col-6 div{
		max-width: 300px;
	}
	#conteudo .mais-artigos h2.text-center{
		font-size: 42px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	#conteudo .mais-artigos a img{
		transition: .5s;
	}
	#conteudo .mais-artigos h3.font-bold{
		font-size: 22px;
		color: #484849;
		margin-top: 10px;
		line-height: 23px;
	}
	#conteudo .mais-artigos p.small{
		font-size: 13px;
		color: #324995;
	}
	#conteudo .mais-artigos p.link-saiba{
		font-size: 18px;
		color: #9fb624;
	}

	#conteudo .mais-artigos a:hover img{
		transform: scale(1.02);
		transition: .5s;
	}
	#conteudo .mais-artigos a:hover h3.font-bold{
		color: var(--new-blue);
	}
	#conteudo .mais-artigos a:hover p.small{
		color: var(--new-blue);
	}
	#conteudo .mais-artigos a:hover p.link-saiba{
		text-decoration: underline;
	}

/* --- aside --- */
	aside .busca{
		max-width: 245px;
		margin-left: 5px;
	}
	aside .busca .input-group{
		border: 1px solid #68748f!important;
		margin-left: auto;
	}
	aside .busca .input-group input{
		min-height: 42px;
		padding-left: 20px;
		font-size: 15px;
		color: #68748f;
	}
	aside .busca .fa-search{
		color: #68748f;
	}
	
	aside .categorias h5,
	aside .lidos h5,
	aside .arquivos h5{
		font-size: 16px;
		color: #4c4c4c;
		margin-bottom: 20px;
	}
	aside li,
	aside li a{
		list-style: none;
		font-size: 15px;
    	font-family: "Roboto Regular";
		margin-bottom: 	8px;
		padding-bottom: 8px;
		color: #4c4c4c;
	}
	aside li a:hover{
		color: var(--new-blue);
	}

	aside .lidos a p{
		font-size: 15px;
		color: #000102;
	}

	aside .cadastre-se{
		background-color: #eaebeb;
		padding: 10px 20px 1px 15px;
	}
	aside .cadastre-se h5{
		font-size: 19px;
		color: #4c4c4c;
	}
	aside .cadastre-se .input-group{
		width: 100%;
	}
	aside .cadastre-se .input-group input{
		min-height: 42px;
		border-radius: 0px;
		padding-left: 20px;
		font-size: 13px;
		color: #68748f;
	}
	aside .cadastre-se .input-group-append a{
		background-color: var(--new-green);
		color: #fff;
		font-size: 16px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	aside .cadastre-se .input-group-append a:hover{
		background-color: var(--new-blue);
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1024px) {
	#conteudo #artigos{
		max-width: 720px;
	}
	#conteudo aside{
		max-width: 230px;
		margin-left: auto;
		margin-top: 90px;
	}

	/* --- banner --- */
		#banner{
			height: 490px;
		}
		#banner h1{
			font-size: 96px;
		}

	/* --- aside --- */
		aside .input-group input{
			min-height: 39px;
		}
		aside input::placeholder{
			font-size: 12px;
		}
	
		aside .categorias,
		aside .lidos,
		aside .arquivos,
		aside .facebook{
			font-size: 16px;
			margin-bottom: 20px;
		}
		aside li{
			font-size: 15.48px;
		}
		aside .cadastre-se h5{
			font-size: 15px;
		}
		aside li p{
			font-size: 12.29px;
		}
		aside li p.font-italic{
			font-size: 10.32px;
		}
		aside .curtir a{
			font-size: 12px;
		}
}

@media screen and (max-width: 768px) {
	#conteudo #artigos{
		max-width: 500px;
	}
	#conteudo aside{
		max-width: 170px;
		margin-right: 10px;
		margin-top: 50px;
	}

	/* --- banner --- */
		#banner{
			height: 350px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- conteudo / artigos --- */
		#conteudo article.artigo .clearfix p{
			font-size: 12px;
		}
		#conteudo article h1.font-bold{
			font-size: 25px;
		}
		#conteudo article img.w-100{
			max-height: 335px;
		}
		#conteudo article p.text-justify{
			font-size: 11px;
		}
		#conteudo article h2.font-regular{
			font-size: 17px;
		}
		#conteudo article .redes img{
			transition: .5s;
		}
		#conteudo article.comentarios-2 p.float-left{
			font-size: 13px;
		}
		#conteudo article.comentarios-2 .media h5{
			font-size: 11px;
		}
		#conteudo article.comentarios-2 .form-group textarea::placeholder{
			font-size: 11px;
		}
		#conteudo article.comentarios-2 a.btn{
			font-size: 12px;
			width: 154px;
			height: 36px;
			padding-top: 9px;
		}
		#conteudo article.comentarios-2 a.btn:hover{
			padding-top: 8px;
		}

		#conteudo .mais-artigos h2.text-center{
			font-size: 26px;
		}
		#conteudo .mais-artigos a img{
			max-width: 225px; 
		}
		#conteudo .mais-artigos h3.font-bold{
			font-size: 14px;
			line-height: 15px;
		}
		#conteudo .mais-artigos p.small{
			font-size: 11px;
		}
		#conteudo .mais-artigos p.link-saiba{
			font-size: 12px;
		}

	/* --- aside --- */
		aside .busca .input-group{
			border: 1px solid #68748f!important;
			max-width: 245px;
		}
		aside .busca .input-group input{
			max-height: 30px;
			font-size: 12.32px;
		}
		aside .categorias h5,
		aside .lidos h5,
		aside .arquivos h5{
			font-size: 12.32px;
			margin-bottom: 15px;
		}
		aside li,
		aside li a{
			font-size: 11.55px;
			margin-bottom: 	8px;
			padding-bottom: 4px;
		}
		aside .lidos a p{
			font-size: 11.55px;
		}
		aside .cadastre-se{
			padding: 1px 10px 5px 10px;
		}
		aside .cadastre-se h5{
			font-size: 14px;
		}
		aside .cadastre-se .input-group input{
			min-height: 30px;
			font-size: 10px;
		}
		aside .cadastre-se .input-group-append a{
			font-size: 12.32px;
		}
}

@media screen and (max-width: 480px) {
	#conteudo{
		padding-left: 20px;
		padding-right: 20px;
	}
	#conteudo #artigos{
		max-width: 500px;
	}
	#conteudo aside{
		max-width: 95%;
		margin: 0 auto;
		margin-top: 0px;
	}
	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}

	/* --- conteudo / artigos --- */
		#conteudo article h1.font-bold{
			font-size: 26px;
			line-height: 25px;
			margin-bottom: 20px;
		}
		#conteudo article img.w-100{
			max-height: 215px;
		}
		#conteudo article p.text-justify{
			font-size: 14px;
		}
		#conteudo article h2.font-regular{
			font-size: 20px;
		}
		#conteudo article.comentarios-2 p.float-left{
			font-size: 15px;
		}
		#conteudo article.comentarios-2 .media h5{
			font-size: 14px;
		}
		#conteudo article.comentarios-2 .form-group textarea::placeholder{
			font-size: 14px;
		}
		#conteudo article.comentarios-2 a.btn{
			font-size: 14px;
			width: 180px;
			height: 43px;
			padding-top: 10px;
		}
		#conteudo article.comentarios-2 a.btn:hover{
			padding-top: 9px;
		}

	/* --- aside --- */
		aside .busca .input-group{
			border: 1px solid #68748f!important;
			max-height: 34px;
		}
		aside .busca .input-group input{
			max-height: 32px;
			min-height: 32px;
		}

		.para-mobile .dropdown a{
			max-height: 34px;
			text-align: center;
			font-family: "Roboto Regular";
			font-size: 13px;
		}
}

@media screen and (max-width: 320px){
	/* conteudo / artigos */
		#conteudo article p.text-primary{
			font-size: 6.54px;
		}
		#conteudo article .float-left p{
			font-size: 6.54px;
		}
		#conteudo article .float-left img{
			width: 20px;
		}
}
