
/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-noticias.jpg)no-repeat center center;
		background-size: cover;
		height: 465px;
	}
	#banner h1{
		margin-top: 15px;
		font-size: 48px;
		margin-bottom: 30px;
	}
	#banner p{
		font-size: 17px;
	}
	#banner p a{
		color: #fff;
		transition: .5s;
	}
	#banner p a:hover{
		color: var(--new-green);
		transition: .5s;
	}
	
/* --- conteudo / artigos --- */
	#conteudo{
		max-width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
	#conteudo #artigos{
		max-width: 812px;
	}
	#conteudo #artigos article a .imagem img{
		max-width: 370px;
	}
	#conteudo #artigos article a .texto{
		max-width: 416px;
	}
	#conteudo aside{
		max-width: 240px;
		margin-left: auto;
	}

	#conteudo .container2 p.descricao-1{
		margin-top: 80px;
		font-size: 17px;
		letter-spacing: .5px;
	}
	#conteudo article .categoria span.icon-mensagem{
		font-size: 17px;
		color: #a9a9a9;
	}
	#conteudo article .categoria img{
		max-width: initial;
	}
	#conteudo article .categoria .redes img{
		margin-top: -4px;
	}
	#conteudo article .categoria p{
		margin-top: 0;
		font-size: 14px;
	}
	#conteudo article hr{
		background-color: #d0cece;
	}
	#conteudo article a.link img{
		width: 100%;
		max-height: 268px;
		object-fit: cover;
		transition: .5s;
	}
	#conteudo article a.link h2{
		font-size: 36px;
		line-height: 36px;
		letter-spacing: 1.5px;
		color: #484849;
		transition: .5s;
	}
	#conteudo article a.link p{
		font-size: 15px;
		color: #666666;
		margin-top: 18px;
		transition: .5s;
	}
	#conteudo article a.link .imagem{
		overflow: hidden; 
	}
	#conteudo article a.link:hover img{
		transform: scale(1.05);
		transition: .5s;
	}
	#conteudo article a.link:hover h2{
		color: var(--new-blue);
		transition: .5s;
	}
	#conteudo article a.link:hover p{
		color: #000;
		transition: .5s;
	}
	#conteudo article .outros{
		margin-top: 10px;
	}
	#conteudo article .outros p{
		font-size: 14px;
		color: #666666;
		margin-top: 0;
	}
	#conteudo article .outros a{
		font-size: 16px;
		color: var(--new-green);
		border-bottom: 1px solid transparent;
	}
	#conteudo article .outros a:hover span{
		border-bottom: 1px solid var(--new-green);
	}
	
	#paginacao li{
		font-size: 12px;
		color: #000001;
		font-family: "Roboto Bold";
		cursor: pointer;
	}
	#paginacao img{
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
	}
	#paginacao .active{
		border: 1px solid var(--new-green);
		border-radius: 50%;
		padding: 1px 8px;
	}
	
/* --- aside --- */
	aside .busca{
		max-width: 245px;
		margin-left: 5px;
	}
	aside .busca .input-group{
		border: 1px solid #68748f!important;
		max-width: 245px;
	}
	aside .busca .input-group input{
		min-height: 42px;
		padding-left: 20px;
		font-size: 15px;
		color: #68748f;
	}
	aside .busca .fa-search{
		color: #68748f;
	}
	
	aside .categorias h5,
	aside .lidos h5,
	aside .arquivos h5{
		font-size: 16px;
		color: #4c4c4c;
		margin-bottom: 20px;
	}
	aside li,
	aside li a{
		list-style: none;
		font-size: 15px;
    	font-family: "Roboto Regular";
		margin-bottom: 	8px;
		padding-bottom: 8px;
		color: #4c4c4c;
	}
	aside li a:hover{
		color: var(--new-blue);
	}

	aside .lidos a p{
		font-size: 15px;
		color: #000102;
	}

	aside .cadastre-se{
		background-color: #eaebeb;
		padding: 10px 20px 1px 15px;
	}
	aside .cadastre-se h5{
		font-size: 19px;
		color: #4c4c4c;
	}
	aside .cadastre-se .input-group{
		width: 100%;
	}
	aside .cadastre-se .input-group input{
		min-height: 42px;
		border-radius: 0px;
		padding-left: 20px;
		font-size: 13px;
		color: #68748f;
	}
	aside .cadastre-se .input-group-append a{
		background-color: var(--new-green);
		color: #fff;
		font-size: 16px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	aside .cadastre-se .input-group-append a:hover{
		background-color: var(--new-blue);
	}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1024px) {
	#conteudo #artigos{
		max-width: 720px;
	}
	#conteudo aside{
		max-width: 230px;
		margin-left: auto;
	}

	/* --- banner --- */
		#banner{
			height: 490px;
		}
		#banner h1{
			font-size: 96px;
		}

	/* --- conteudo / artigos --- */
		#conteudo .container2 p.descricao-1{
			padding-left: 20px;
			padding-right: 20px;
		}
		#conteudo article a.link h2{
			font-size: 30px;
			line-height: 30px;
		}
		#conteudo article a.link p{
			font-size: 14px;
			margin-top: 10px;
		}
		#conteudo article .outros p{
			font-size: 13px;
		}
		#conteudo article .outros a{
			font-size: 15px;
		}
		#conteudo article .outros a img{
			max-width: 18px;
		}
		#paginacao .active{
			padding: 1px 7px;
		}

	/* --- aside --- */
		aside .input-group input{
			min-height: 39px;
		}
		aside input::placeholder{
			font-size: 12px;
		}
	
		aside .categorias,
		aside .lidos,
		aside .arquivos,
		aside .facebook{
			font-size: 16px;
			margin-bottom: 20px;
		}
		aside li{
			font-size: 15.48px;
		}
		aside .cadastre-se h5{
			font-size: 15px;
		}
		aside li p{
			font-size: 12.29px;
		}
		aside li p.font-italic{
			font-size: 10.32px;
		}
		aside .curtir a{
			font-size: 12px;
		}
}

@media screen and (max-width: 768px) {
	#conteudo #artigos{
		max-width: 500px;
	}
	#conteudo aside{
		max-width: 170px;
		margin-right: 10px;
		margin-top: 10px;
	}
	#conteudo #artigos article a .texto{
		max-width: 258px;
	}

	/* --- banner --- */
		#banner{
			height: 350px;
		}
		#banner h1{
			font-size: 36px;
		}
		#banner p{
			font-size: 13px;
		}

	/* --- conteudo / artigos --- */
		#conteudo .container2 p.descricao-1{
			margin-top: 20px;
			font-size: 13px;
			padding-left: 0px;
			padding-right: 0px;
		}
		#conteudo article .categoria span.icon-mensagem{
			font-size: 12px;
		}
		#conteudo article .categoria img{
			max-width: 12px;
		}
		#conteudo article .categoria .redes img{
			margin-top: 0px;
		}
		#conteudo article .categoria p{
			font-size: 10px;
			margin-top: 8px;
		}
		#conteudo #artigos article a .imagem img{
			max-width: 228px;
			height: 188px;
		}
		#conteudo article a.link h2{
			font-size: 24px;
			line-height: 25px;
		}
		#conteudo article a.link p{
			font-size: 11px;
		}
		#conteudo article .outros p{
			font-size: 10px;
		}
		#conteudo article .outros a{
			font-size: 11px;
		}
		#conteudo article .outros a img{
			max-width: 15px;
		}
		
		#paginacao li{
			font-size: 10px;
		}
		#paginacao .active{
			padding: 1px 6px;
		}

	/* --- aside --- */
		aside .busca .input-group{
			border: 1px solid #68748f!important;
			max-width: 245px;
			max-height: 32px;
		}
		aside .busca .input-group input{
			max-height: 30px;
			min-height: 30px;
			font-size: 12.32px;
		}	
		aside .categorias h5,
		aside .lidos h5,
		aside .arquivos h5{
			font-size: 12.32px;
			margin-bottom: 15px;
		}
		aside li,
		aside li a{
			font-size: 11.55px;
			margin-bottom: 	8px;
			padding-bottom: 4px;
		}
		aside .lidos a p{
			font-size: 11.55px;
		}
		aside .cadastre-se{
			padding: 1px 10px 5px 10px;
		}
		aside .cadastre-se h5{
			font-size: 14px;
		}
		aside .cadastre-se .input-group input{
			min-height: 30px;
			font-size: 10px;
		}
		aside .cadastre-se .input-group-append a{
			font-size: 12.32px;
		}
}

@media screen and (max-width: 480px) {
	#conteudo{
		padding-left: 20px;
		padding-right: 20px;
	}
	#conteudo aside{
		max-width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
	#conteudo #artigos article a .texto{
		max-width: 100%;
	}

	/* --- banner --- */
		#banner{
			height: 225px;
		}
		#banner h1{
			font-size: 28px;
		}
		#banner p{
			font-size: 12px;
		}

	/* --- conteudo / artigos --- */
		#conteudo .container2 p.descricao-1{
			font-size: 12px;
		}
		#conteudo article .categoria span.icon-mensagem{
			font-size: 12px;
		}
		#conteudo article .categoria img{
			max-width: 12px;
		}
		#conteudo article .categoria .redes img{
			margin-top: 0px;
		}
		#conteudo article .categoria p{
			font-size: 12px;
			margin-top: 6px;
		}
		#conteudo article a.link{
			margin-top: 20px;
		}
		#conteudo #artigos article a .imagem img{
			max-width: 100%;
			height: 216px;
		}
		#conteudo article a.link h2{
			font-size: 26px;
			line-height: 25px;
			margin-bottom: 20px;
		}
		#conteudo article a.link p{
			font-size: 13px;
			margin-top: 12px;
		}
		#conteudo article .outros{
			margin-top: 20px;
		}
		#conteudo article .outros p{
			font-size: 11px;
			margin-top: 5px;
		}
		#conteudo article .outros a{
			font-size: 13px;
		}
		#conteudo article .outros a img{
			max-width: 14px;
		}
		
		#conteudo .carregar a.btn{
			background-color: var(--new-blue);
			border: 2px solid transparent;
			color: #fff;
			font-size: 14px;
			margin-top: 30px;
			margin-bottom: 30px;
			border-radius: 10px;
		}
		#conteudo .carregar a.btn:hover{
			background-color: transparent;
			border: 2px solid var(--new-blue);
			color: var(--new-blue);
		}

	/* --- aside --- */
		aside .busca .input-group{
			border: 1px solid #68748f!important;
			max-height: 34px;
		}
		aside .busca .input-group input{
			max-height: 32px;
			min-height: 32px;
		}

		.para-mobile .dropdown a{
			max-height: 34px;
			text-align: center;
			font-family: "Roboto Regular";
			font-size: 13px;
		}
}

@media screen and (max-width: 320px){
	/* conteudo / artigos */
		#conteudo article p.text-primary{
			font-size: 6.54px;
		}
		#conteudo article .float-left p{
			font-size: 6.54px;
		}
		#conteudo article .float-left img{
			width: 20px;
		}
}
